In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.4.0-py3-none-any.whl (985 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.0 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [268]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [84]:
driver.get("https://www.naukri.com/")

In [86]:
designation=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
designation.send_keys('Data Analyst')
gt=driver.find_element(By.XPATH,'//b[@class="pre-wrap"]')
gt.click()

In [88]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')
ij=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[2]/div[1]/ul/li[1]/div/span[1]')
ij.click()

In [89]:
search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [90]:
title=[]
location=[]
company=[]
experience=[]

In [91]:
tt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tt[0:10]:
    a=i.text
    title.append(a)

In [92]:
pp=driver.find_elements(By.XPATH,'//span[@title="Bangalore/Bengaluru "]')
for i in pp[0:10]:
    b=i.text
    location.append(b)

In [93]:
cc=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in cc[0:10]:
    c=i.text
    company.append(c)

In [94]:
dd=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in dd[0:10]:
    experience.append(i.text)

In [95]:
print(len(title),len(location),len(company),len(experience))

10 10 10 10

In [96]:
df=pd.DataFrame({'JOB_TITLE':title,'LOCATION':location,'COMPANY':company,'EXPERIENCE':experience})

In [97]:
df

,JOB_TITLE,LOCATION,COMPANY,EXPERIENCE
0,SR. Data Analyst- SME- Pharma and Healthcare,Bangalore/Bengaluru,CHRYSELYS,2-6 Yrs
1,Senior Data Analyst - KPO,Bangalore/Bengaluru,Huquo Consulting Pvt. Ltd,7-12 Yrs
2,Data Analyst 2,Bangalore/Bengaluru,Optum,7-10 Yrs
3,Data Analyst 1,Bangalore/Bengaluru,Optum,3-5 Yrs
4,Associate Data Analyst,Bangalore/Bengaluru,Optum,4-7 Yrs
5,Data Analyst,Bangalore/Bengaluru,Open Financial Technologies,2-7 Yrs
6,Data Analyst,Bangalore/Bengaluru,Sobha,1-3 Yrs
7,Data Analyst,Bangalore/Bengaluru,Augie Pets India Pvt limited,0-3 Yrs
8,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
9,Business & Data Analyst- Assistant Manager,Bangalore/Bengaluru,State Street,1-3 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [19]:
driver.get("https://www.naukri.com/")

In [21]:
designation1=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
designation1.send_keys('Data Scientist')
gtt=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[2]/div[1]/ul/li[1]/div/span[1]/b')
gtt.click()

In [23]:
location1=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location1.send_keys('Bangalore')
ijj=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[2]/div[1]/ul/li[1]/div')
ijj.click()

In [24]:
search1=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search1.click()

In [67]:
jtitle=[]
jlocation=[]
jcompany=[]

In [71]:
ttt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in ttt[0:10]:
    jtitle.append(i.text)

In [68]:
lll=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in lll[0:10]:
    jlocation.append(i.text)

In [72]:
ccc=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in ccc[0:10]:
    jcompany.append(i.text)

In [73]:
print(len(jtitle),len(jlocation),len(jcompany))

10 10 10

In [74]:
naukri=pd.DataFrame({'TITLE':jtitle,'LOCATION':jlocation,'COMPANY':jcompany})

In [75]:
naukri

,TITLE,LOCATION,COMPANY
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
4,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree
7,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
8,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [124]:
driver.get("https://www.naukri.com/")

In [108]:
designation3=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
designation3.send_keys('Data Scientist')
gtt=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div[2]/div[1]/ul/li[1]/div/span[1]/b')
gtt.click()

In [109]:
search11=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search11.click()

In [112]:
filter1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
filter1.click()

In [113]:
filter2=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
filter2.click()

In [114]:
jt=[]
jl=[]
jc=[]
je=[]

In [115]:
t=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in t[0:10]:
    jt.append(i.text)

In [116]:
c=driver.find_elements(By.XPATH,'//A[@class="subTitle ellipsis fleft"]')
for i in c[0:10]:
    jc.append(i.text)

In [117]:
e=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in e[0:10]:
    je.append(i.text)

In [118]:
l=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in l[0:10]:
    jl.append(i.text)

In [119]:
print(len(jt),len(jl),len(je),len(jc))

10 10 10 10

In [120]:
dc=pd.DataFrame({'TITLE':jt,'LOCATION':jl,'COMPANY':jc,'EXPERIENCE':je})

In [121]:
dc

,TITLE,LOCATION,COMPANY,EXPERIENCE
0,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
7,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Jr. Data Scientist,Noida,Dataflow,2-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual

In [127]:
driver.get('https://www.flipkart.com')

In [128]:
frd=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
frd.send_keys('Sunglasses')

In [131]:
frd1=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
frd1.click()

In [132]:
jbt=[]
start=0
end=3

for page in range(start,end):
    tts=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tts:
        jbt.append(i.text)
    nextt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nextt.click()
    time.sleep(5)

In [133]:
len(jbt)

120

In [134]:
dsc=[]
start=0
end=3

for page in range(start,end):
    sst=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in sst:
        dsc.append(i.text)
    ne=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    ne.click()
    time.sleep(2)

In [135]:
mrp=[]
start=0
end=3

for page in range(start,end):
    ps=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in ps:
        mrp.append(i.text)
    nxt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nxt.click()
    time.sleep(2)

In [136]:
prc=[]
start=0
end=3

for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for i in pr:
        prc.append(i.text)
    nt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nt.click()
    time.sleep(2)

In [137]:
per=[]
start=0
end=3

for page in range(start,end):
    dr=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dr:
        per.append(i.text)
    nx=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nx.click()
    time.sleep(2)

In [138]:
a=jbt[0:100]
b=dsc[0:100]
c=mrp[0:100]
d=per[0:100]
e=prc[0:100]

In [140]:
print(len(a),len(b),len(c),len(d),len(e))

100 100 100 100 100

In [141]:
dp=pd.DataFrame({'BRAND':a,'DESCR':b,'MRP':c,'DISC_PRICE':e,'DISC_%':d})

In [142]:
dp

,BRAND,DESCR,MRP,DISC_PRICE,DISC_%
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹949,"₹1,999",52% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹949,"₹1,999",67% off
2,SHAAH COLLECTIONS,UV Protection Wayfarer Sunglasses (Free Size),₹195,₹799,88% off
3,New Specs,"UV Protection, Polarized, Mirrored Retro Squar...",₹298,"₹1,299",88% off
4,Elligator,UV Protection Wrap-around Sunglasses (63),₹264,₹899,89% off
...,...,...,...,...,...
95,DAHAAZIL,"Riding Glasses, Riding Glasses, UV Protection ...",₹193,"₹2,499",80% off
96,LIZA ANGEL,"by Lenskart Polarized, UV Protection Cat-eye S...",₹189,₹999,81% off
97,VINCENT CHASE,"UV Protection, Polarized, Mirrored Round Sungl...",₹849,"₹1,999",52% off
98,Lee Topper,"UV Protection, Gradient Rectangular Sunglasses...",₹219,"₹1,699",78% off
99,PIRASO,"by Lenskart Polarized, UV Protection Cat-eye S...",₹246,"₹1,999",84% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
You will reach to the below shown webpage 


As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [319]:
driver.get('https://www.flipkart.com')

In [320]:
search22=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search22.send_keys('IPHONE 11')

In [322]:
frd11=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
frd11.click()

In [323]:
linkclick=driver.find_element(By.XPATH,'//div[@class="_4rR01T"]')
linkclick.click()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [198]:
driver.get('https://www.flipkart.com/')

In [199]:
searche=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
searche.send_keys('SNEAKERS')

In [200]:
d11=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
d11.click()

In [6]:
brand=[]

start=0
end=3

for page in range(start,end):
    link=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in link:
        brand.append(i.text)
    bn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    bn.click()
    time.sleep(2)

In [7]:
price=[]
start=0
end=3

for page in range(start,end):
    prce=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prce:
        price.append(i.text)
    bb=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    bb.click()
    time.sleep(2)

In [8]:
mr=[]
start=0
end=3

for page in range(start,end):
    pe=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for i in pe:
        mr.append(i.text)
    bt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    bt.click()
    time.sleep(2)

In [9]:
ppr=[]
start=0
end=3

for page in range(start,end):
    eq=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in eq:
        ppr.append(i.text)
    ot=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    ot.click()
    time.sleep(2)

In [16]:
dess=[]
start=0
end=3

for page in range(start,end):
    tff=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
    for i in tff:
        dess.append(i.text)
    mk=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    mk.click()
    time.sleep(2)

In [17]:
print(len(brand),len(price),len(mr),len(ppr),len(dess))

120 120 120 120 120

In [18]:
oj=pd.DataFrame({'BRAND':brand,'DESC':dess,'MRP':mr,'OFFER_PRICE':price,'%OFF':ppr})

In [19]:
oj

,BRAND,DESC,MRP,OFFER_PRICE,%OFF
0,RapidBox,Sneakers For Men,₹999,₹314,68% off
1,RapidBox,Stylish Sneakers For Women,₹999,₹259,67% off
2,PUMA,Glory Sneakers For Men,"₹2,999",₹351,64% off
3,Deals4you,Mesh | Ultralightweight | Comfortable | Breath...,₹999,₹799,65% off
4,PUMA,Sneakers For Women,"₹5,499","₹1,892",62% off
...,...,...,...,...,...
115,BIG FOX,Mens Casual Lase-ups Tube Shoker Sole Sneaker ...,"₹2,499","₹1,723",56% off
116,AMICO,Unique & Perfect Collection Combo Pack of 02 S...,₹999,"₹1,749",50% off
117,LEVI'S,Sneakers For Men,"₹2,799",₹265,46% off
118,PUMA,Levi's Men's Henry Sneakers Sneakers For Men,"₹4,999",₹959,70% off
119,RESNAPSHOEZONE,Sneakers For Men,"₹1,250",₹296,55% off

In [20]:
newoj=oj.iloc[0:100,:]

In [21]:
newoj

,BRAND,DESC,MRP,OFFER_PRICE,%OFF
0,RapidBox,Sneakers For Men,₹999,₹314,68% off
1,RapidBox,Stylish Sneakers For Women,₹999,₹259,67% off
2,PUMA,Glory Sneakers For Men,"₹2,999",₹351,64% off
3,Deals4you,Mesh | Ultralightweight | Comfortable | Breath...,₹999,₹799,65% off
4,PUMA,Sneakers For Women,"₹5,499","₹1,892",62% off
...,...,...,...,...,...
95,MAFLO,Trendy Lace Up Sneakers For Men,"₹1,299",₹549,63% off
96,Robbie jones,Puma Smash Wns v2 L Sneakers For Women,₹999,₹458,54% off
97,Layasa,Casual Sneakers Black Outdoor Shoes For Boys A...,₹999,₹499,75% off
98,World Wear Footwear,supr Sneakers For Men,₹499,₹299,40% off
99,MAFLO,White & Black Sneakers For Men Casual Shoes Fo...,"₹1,299",₹366,71% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image

scrapping of the data for this question is not possible as the option to inspect is not available. The wishlish pop up is popping each time the cursor is on the BRAND,PRICE OR DESC box.

The screenshot of the same is already shared on the ticket

Moreover while checking if at all we can scrap the data from this website ,errors are being displayed

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [314]:
driver.get('https://www.amazon.in/')

In [204]:
iny=driver.find_element(By.XPATH,'//input[@type="text"]')
iny.send_keys('LAPTOP')

In [205]:
sb=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
sb.click()

In [213]:
checkbox=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[6]/span/a/div/label/i')
checkbox.click()

In [7]:
namee=[]
gy=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

for i in gy[0:10]:
    namee.append(i.text)

In [33]:
MRP=[]
jj=driver.find_elements(By.XPATH,'//span[@class="a-price a-text-price"]')

for i in jj[0:10]:
    MRP.append(i.text)

In [36]:
OFFER=[]
op=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in op[0:10]:
    OFFER.append(i.text)

In [158]:
gt=pd.DataFrame({'NAME':namee,'MRP':MRP,'DISCOUNTED_PRICE':OFFER})

In [159]:
gt

,NAME,MRP,DISCOUNTED_PRICE
0,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...","₹80,990","56,589"
1,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,"₹95,990","79,490"
2,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,"₹1,02,090","62,990"
3,Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...,"₹1,00,687","93,290"
4,"ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...","₹1,44,990","1,09,990"
5,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...","₹1,04,114","89,990"
6,Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...,"₹1,45,800","94,990"
7,"ASUS TUF Gaming F15 (2022), 15.6"" (39.62 cms) ...","₹1,44,990","1,09,990"
8,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,"₹1,20,990","81,990"
9,"HP Victus 11th Gen Intel Core i7-11800H 16.1"" ...","₹1,25,143","1,07,990"

In [ ]:
Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [214]:
driver.get('https://www.ambitionbox.com/')

In [222]:
dre=driver.find_element(By.XPATH,'//a[@class="navItemLink"]')
dre.click()

In [223]:
dis=driver.find_element(By.XPATH,'//input[@name="ab_jobsSearch"]')
dis.send_keys('DATA SCIENTIST')

In [224]:
des=driver.find_element(By.XPATH,'//button[@class="ab_btn search-btn round"]')
des.click()

In [225]:
company=[]
lm=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in lm[0:10]:
    company.append(i.text)

In [226]:
ratt=[]
jn=driver.find_elements(By.XPATH,'//a[@class="rating rating-4"]')

for i in jn[0:10]:
    ratt.append(i.text)

In [227]:
time=[]
hb=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')

for i in hb[0:20]:
    time.append(i.text)

In [228]:
times=time[0:20:2]

In [229]:
FR=pd.DataFrame({'NAME':company,'RATING':ratt,'TIME':times})

In [230]:
FR

                                         NAME RATING      TIME
0                             JP Morgan Chase    4.2    3d ago
1                             JP Morgan Chase    4.2    3d ago
2                 Accenture Solutions Pvt Ltd    4.2    2d ago
3                 Accenture Solutions Pvt Ltd    4.2    2d ago
4                 Accenture Solutions Pvt Ltd    4.2    2d ago
5                             JP Morgan Chase    4.2    4d ago
6         Shell India Markets Private Limited    4.2  11hr ago
7                 Accenture Solutions Pvt Ltd    4.4    4d ago
8  J.P. Morgan Services India Private Limited    4.2    8d ago
9               GENPACT India Private Limited    4.2    1d ago

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [296]:
driver.get('https://www.ambitionbox.com/')

In [297]:
dwq=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]')
dwq.click()

In [298]:
drew=driver.find_element(By.XPATH,'//a[@title="Browse salaries"]')
driver.get(drew.get_attribute('href'))

In [312]:
gtt=driver.find_element(By.XPATH,'//input[@type="searchbox"]')
gtt.send_keys('DATA SCIENTIST')

In [313]:
sugg=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div')
sugg.click()

In [38]:
com=[]
zz=driver.find_elements(By.XPATH,'//a[@data-v-4c07f399]')

for i in zz[0:10]:
    com.append(i.text.replace('\nData Scientist Salary',''))

In [17]:
exp=[]
ss=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')

for i in ss[0:10]:
    exp.append(i.text)

In [20]:
m=[]

ed=driver.find_elements(By.XPATH,'//div[@data-v-3d36b24d]')

for i in ed:
    m.append(i.text.replace('\n',''))

In [33]:
mo=m[0:-1:7]

In [40]:
ui=pd.DataFrame({'NAME':com,'EXPERIENCE':exp,'AVG_MIN_MAX_SALARY':mo})

In [39]:
print(len(com),len(exp),len(mo))

10 10 10

In [41]:
ui

,NAME,EXPERIENCE,AVG_MIN_MAX_SALARY
0,Walmart,3-4 yrs experience (based on 22 salaries),₹ 31.7L₹ 25.0L₹ 45.0L
1,Ab Inbev,2-4 yrs experience (based on 53 salaries),₹ 19.7L₹ 15.0L₹ 25.5L
2,Optum,2-4 yrs experience (based on 48 salaries),₹ 16.5L₹ 11.0L₹ 22.6L
3,ZS,1-2 yrs experience (based on 33 salaries),₹ 15.7L₹ 11.0L₹ 22.0L
4,Fractal Analytics,2-4 yrs experience (based on 109 salaries),₹ 15.2L₹ 9.0L₹ 23.0L
5,Tiger Analytics,2-4 yrs experience (based on 65 salaries),₹ 14.7L₹ 9.0L₹ 20.0L
6,Legato Health Technologies,4 yrs experience (based on 11 salaries),₹ 14.5L₹ 11.0L₹ 20.0L
7,Tredence,3 yrs experience (based on 12 salaries),₹ 14.1L₹ 8.8L₹ 17.5L
8,UnitedHealth,2-4 yrs experience (based on 91 salaries),₹ 13.6L₹ 8.0L₹ 20.5L
9,Ford Motor,3-4 yrs experience (based on 21 salaries),₹ 13.5L₹ 10.0L₹ 18.0L