In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.4.0-py3-none-any.whl (985 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.0 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [3]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [174]:
driver.get("https://www.naukri.com/")

In [175]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Analyst')

In [176]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [177]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

In [187]:
title=[]
location=[]
company=[]
experience=[]

In [189]:
tt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tt[0:10]:
    a=i.text
    title.append(a)

In [190]:
pp=driver.find_elements(By.XPATH,'//span[@title="Bangalore/Bengaluru "]')
for i in pp[0:10]:
    b=i.text
    location.append(b)

In [191]:
cc=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in cc[0:10]:
    c=i.text
    company.append(c)

In [192]:
dd=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in dd[0:10]:
    experience.append(i.text)

In [193]:
print(len(title),len(location),len(company),len(experience))

10 10 10 10

In [194]:
df=pd.DataFrame({'JOB_TITLE':title,'LOCATION':location,'COMPANY':company,'EXPERIENCE':experience})

In [195]:
df

,JOB_TITLE,LOCATION,COMPANY,EXPERIENCE
0,Senior Data Analyst,Bangalore/Bengaluru,KrazyBee,3-6 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
2,Sr. Data Analyst,Bangalore/Bengaluru,Global Indian School Education Services,6-11 Yrs
3,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
6,Data Analyst - Python/Artificial Intelligence,Bangalore/Bengaluru,iMindYourBusiness,0-2 Yrs
7,Asst Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,1-3 Yrs
8,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
9,Data Analyst,Bangalore/Bengaluru,milestone internet marketing pvt ltd,2-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
driver.get("https://www.naukri.com/")

In [196]:
jtitle=[]
jlocation=[]
jcompany=[]

In [197]:
ttt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in ttt[0:10]:
    jtitle.append(i.text)

In [198]:
lll=driver.find_elements(By.XPATH,'//span[@title="Bangalore/Bengaluru "]')
for i in lll[0:10]:
    jlocation.append(i.text)

In [199]:
ccc=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in ccc[0:10]:
    jcompany.append(i.text)

In [200]:
print(len(jtitle),len(jlocation),len(jcompany))

10 10 10

In [201]:
naukri=pd.DataFrame({'TITLE':jtitle,'LOCATION':jlocation,'COMPANY':jcompany})

In [202]:
naukri

,TITLE,LOCATION,COMPANY
0,Senior Data Analyst,Bangalore/Bengaluru,KrazyBee
1,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited
2,Sr. Data Analyst,Bangalore/Bengaluru,Global Indian School Education Services
3,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture
5,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies
6,Data Analyst - Python/Artificial Intelligence,Bangalore/Bengaluru,iMindYourBusiness
7,Asst Clinical Data Analyst,Bangalore/Bengaluru,LabCorp
8,Lead Data Analyst,Bangalore/Bengaluru,McAfee
9,Data Analyst,Bangalore/Bengaluru,milestone internet marketing pvt ltd

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [47]:
driver.get("https://www.naukri.com/")

In [212]:
jt=[]
jl=[]
jc=[]
je=[]

In [213]:
t=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in t[0:10]:
    jt.append(i.text)

In [214]:
c=driver.find_elements(By.XPATH,'//A[@class="subTitle ellipsis fleft"]')
for i in c[0:10]:
    jc.append(i.text)

In [215]:
e=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in e[0:10]:
    je.append(i.text)

In [216]:
l=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in l[0:10]:
    jl.append(i.text)

In [217]:
print(len(jt),len(jl),len(je),len(jc))

10 10 10 10

In [220]:
dc=pd.DataFrame({'TITLE':jt,'LOCATION':jl,'COMPANY':jc,'EXPERIENCE':je})

In [221]:
dc

,TITLE,LOCATION,COMPANY,EXPERIENCE
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
2,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
3,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
6,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
7,Asst Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,1-3 Yrs
8,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Ahmedabad",milestone internet marketing pvt ltd,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual

In [226]:
driver.get('https://www.flipkart.com/search?q=sunglasses&as=on&as-show=on&otracker=AS_Query_HistoryAutoSuggest_1_10_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_1_10_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses&requestId=635a7b5a-3b44-4b53-bab4-d298652d4122&as-searchtext=SUNGLASSES')

In [227]:
jbt=[]
start=0
end=3

for page in range(start,end):
    tts=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tts:
        jbt.append(i.text)
    nextt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nextt.click()
    time.sleep(5)

In [228]:
len(jbt)

120

In [229]:
dsc=[]
start=0
end=3

for page in range(start,end):
    sst=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in sst:
        dsc.append(i.text)
    ne=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    ne.click()
    time.sleep(2)

In [230]:
mrp=[]
start=0
end=3

for page in range(start,end):
    ps=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in ps:
        mrp.append(i.text)
    nxt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nxt.click()
    time.sleep(2)

In [231]:
prc=[]
start=0
end=3

for page in range(start,end):
    pr=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for i in pr:
        prc.append(i.text)
    nt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nt.click()
    time.sleep(2)

In [232]:
per=[]
start=0
end=3

for page in range(start,end):
    dr=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dr:
        per.append(i.text)
    nx=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    nx.click()
    time.sleep(2)

In [233]:
a=jbt[0:100]
b=dsc[0:100]
c=mrp[0:100]
d=per[0:100]
e=prc[0:100]

In [234]:
print(len(a),len(b),len(c),len(d),len(e))

100 100 100 100 100

In [235]:
dp=pd.DataFrame({'BRAND':a,'DESCR':b,'MRP':c,'DISC_PRICE':e,'DISC_%':d})

In [236]:
dp

,BRAND,DESCR,MRP,DISC_PRICE,DISC_%
0,VINCENT CHASE,UV Protection Retro Square Sunglasses (54),₹949,₹699,52% off
1,VINCENT CHASE,"UV Protection, Mirrored Retro Square Sunglasse...",₹849,"₹1,999",57% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,"₹1,499",20% off
3,Fastrack,"by Lenskart Polarized, UV Protection Aviator S...",₹639,"₹1,999",20% off
4,PIRASO,"by Lenskart Polarized, UV Protection Rectangul...",₹224,"₹1,999",85% off
...,...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹475,"₹1,199",69% off
96,PHENOMENAL,"UV Protection, Gradient Butterfly Sunglasses (62)",₹267,"₹1,599",73% off
97,ROZZETTA CRAFT,UV Protection Wrap-around Sunglasses (63),₹499,"₹1,299",75% off
98,LIZA ANGEL,"UV Protection, Gradient Rectangular Sunglasses...",₹199,"₹1,499",80% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹648,"₹1,999",62% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
You will reach to the below shown webpage 


As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [237]:
driver.get('https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART')

In [238]:
rating=[]
start=0
end=11

for page in range(start,end):
    rr=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rr:
            rating.append(i.text)
    nnn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nnn.click()
    time.sleep(2)

In [239]:
overview=[]
start=0
end=11

for page in range(start,end):
    ppp=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in ppp:
            overview.append(i.text)
    ntt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    ntt.click()
    time.sleep(2)

In [240]:
fr=[]
start=0
end=11

for page in range(start,end):
    ss=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in ss:
            fr.append(i.text)
    ntt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    ntt.click()
    time.sleep(2)

In [241]:
r=rating[0:100]
s=overview[0:100]
f=fr[0:100]

In [242]:
fg=pd.DataFrame({'RATING':r,'REVIEW':s,'FULL_SUMMARY':f})

In [243]:
fg

,RATING,REVIEW,FULL_SUMMARY
0,5,Highly recommended,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Perfect product!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Perfect product!,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Fabulous!,Iphone is just awesome.. battery backup is ver...
96,5,Great product,Really worth of money. i just love it. It is t...
97,5,Worth every penny,This is my first ever I phone. Before this I w...
98,5,Highly recommended,Best budget Iphone till date ❤️ go for it guys...
99,4,Good choice,I was using Iphone 6s and also Oneplus 6t. Bot...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [255]:
driver.get('https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_8_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=c313ab81-93c2-42be-87e7-b56b991e556e&as-searchtext=SNEAKERS')

In [271]:
brand=[]

start=0
end=3

for page in range(start,end):
    link=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in link:
        brand.append(i.text)
    bn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    bn.click()
    time.sleep(2)

In [265]:
price=[]
start=0
end=3

for page in range(start,end):
    prce=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prce:
        price.append(i.text)
    bb=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    bb.click()
    time.sleep(2)

In [266]:
mr=[]
start=0
end=3

for page in range(start,end):
    pe=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for i in pe:
        mr.append(i.text)
    bt=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    bt.click()
    time.sleep(2)

In [267]:
ppr=[]
start=0
end=3

for page in range(start,end):
    eq=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in eq:
        ppr.append(i.text)
    ot=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    ot.click()
    time.sleep(2)

DESCRIPTION IS NOT COMING AS THERE ARE TWO CLASSES , ONE IS class="IRpwTa _2-ICcC" (4 values) and the other is class="IRpwTa" (36 values) for one page of 40

In [272]:
print(len(brand),len(price),len(mr),len(ppr))

120 120 120 120

In [274]:
oj=pd.DataFrame({'BRAND':brand,'MRP':mr,'OFFER_PRICE':price,'%OFF':ppr})

In [275]:
oj

         BRAND     MRP OFFER_PRICE     %OFF
0       Rzisbo    ₹999        ₹640  60% off
1    Deals4you    ₹499      ₹5,490  60% off
2     URBANBOX  ₹1,598        ₹374  81% off
3     RapidBox    ₹999      ₹1,542  55% off
4       Chevit  ₹1,299      ₹1,747  41% off
..         ...     ...         ...      ...
115      MOCHI  ₹2,499        ₹424  61% off
116    Airland    ₹499        ₹398  62% off
117       PUMA  ₹4,799        ₹299  57% off
118  ONECENTRE    ₹600        ₹499  70% off
119    AIRBELL    ₹999      ₹2,449  52% off

[120 rows x 4 columns]

In [278]:
newoj=oj.iloc[0:100,:]

In [279]:
newoj

        BRAND     MRP OFFER_PRICE     %OFF
0      Rzisbo    ₹999        ₹640  60% off
1   Deals4you    ₹499      ₹5,490  60% off
2    URBANBOX  ₹1,598        ₹374  81% off
3    RapidBox    ₹999      ₹1,542  55% off
4      Chevit  ₹1,299      ₹1,747  41% off
..        ...     ...         ...      ...
95   BERSACHE  ₹1,499        ₹259  56% off
96   HOTSTYLE    ₹499        ₹509  62% off
97     Chevit  ₹1,598        ₹404  55% off
98     BRUTON  ₹1,299      ₹1,619  53% off
99     ELEVAR  ₹1,499        ₹399  63% off

[100 rows x 4 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image

scrapping of the data for this question is not possible as the option to inspect is not available. The wishlish pop up is popping each time the cursor is on the BRAND,PRICE OR DESC box.

The screenshot of the same is already shared on the ticket

Moreover while checking if at all we can scrap the data from this website ,errors are being displayed

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [6]:
driver.get('https://www.amazon.in/s?k=LAPTOP&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&ds=v1%3A1FPln8raarCq5T6YKyL9x%2B8NyJF9XVBToJ3amkbNu3I&crid=1FT6MV2XCTWMN&qid=1660810860&rnid=12598141031&sprefix=laptop%2Caps%2C281&ref=sr_nr_p_n_feature_thirteen_browse-bin_12')

In [7]:
namee=[]
gy=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

for i in gy[0:10]:
    namee.append(i.text)

In [33]:
MRP=[]
jj=driver.find_elements(By.XPATH,'//span[@class="a-price a-text-price"]')

for i in jj[0:10]:
    MRP.append(i.text)

In [36]:
OFFER=[]
op=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in op[0:10]:
    OFFER.append(i.text)

In [158]:
gt=pd.DataFrame({'NAME':namee,'MRP':MRP,'DISCOUNTED_PRICE':OFFER})

In [159]:
gt

,NAME,MRP,DISCOUNTED_PRICE
0,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...","₹80,990","56,589"
1,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,"₹95,990","79,490"
2,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,"₹1,02,090","62,990"
3,Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...,"₹1,00,687","93,290"
4,"ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...","₹1,44,990","1,09,990"
5,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...","₹1,04,114","89,990"
6,Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...,"₹1,45,800","94,990"
7,"ASUS TUF Gaming F15 (2022), 15.6"" (39.62 cms) ...","₹1,44,990","1,09,990"
8,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,"₹1,20,990","81,990"
9,"HP Victus 11th Gen Intel Core i7-11800H 16.1"" ...","₹1,25,143","1,07,990"

In [ ]:
Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [65]:
driver.get('https://www.ambitionbox.com/')

In [68]:
company=[]
lm=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in lm[0:10]:
    company.append(i.text)

In [72]:
ratt=[]
jn=driver.find_elements(By.XPATH,'//a[@class="rating rating-4"]')

for i in jn[0:10]:
    ratt.append(i.text)

In [84]:
time=[]
hb=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')

for i in hb[0:20]:
    time.append(i.text)

In [86]:
times=time[0:20:2]

In [88]:
FR=pd.DataFrame({'NAME':company,'RATING':ratt,'TIME':times})

In [89]:
FR

                                             NAME RATING     TIME
0                         CBRE South Asia Pvt Ltd    4.3   7d ago
1                   GENPACT India Private Limited    4.3  3hr ago
2                                         Genpact    4.0   2d ago
3        Ericsson India Global Services Pvt. Ltd.    4.0  17d ago
4                   GENPACT India Private Limited    4.3  10d ago
5  Optum Global Solutions (India) Private Limited    4.0  14d ago
6  Optum Global Solutions (India) Private Limited    4.1  15d ago
7        Ericsson India Global Services Pvt. Ltd.    4.1  27d ago
8                      SOPRA STERIA INDIA LIMITED    4.3  16d ago
9                EXL Services.com ( I ) Pvt. Ltd.    4.2  16d ago

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [5]:
driver.get('https://www.ambitionbox.com/')

In [38]:
com=[]
zz=driver.find_elements(By.XPATH,'//a[@data-v-4c07f399]')

for i in zz[0:10]:
    com.append(i.text.replace('\nData Scientist Salary',''))

In [17]:
exp=[]
ss=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')

for i in ss[0:10]:
    exp.append(i.text)

In [20]:
m=[]

ed=driver.find_elements(By.XPATH,'//div[@data-v-3d36b24d]')

for i in ed:
    m.append(i.text.replace('\n',''))

In [33]:
mo=m[0:-1:7]

In [40]:
ui=pd.DataFrame({'NAME':com,'EXPERIENCE':exp,'AVG_MIN_MAX_SALARY':mo})

In [39]:
print(len(com),len(exp),len(mo))

10 10 10

In [41]:
ui

,NAME,EXPERIENCE,AVG_MIN_MAX_SALARY
0,Walmart,3-4 yrs experience (based on 22 salaries),₹ 31.7L₹ 25.0L₹ 45.0L
1,Ab Inbev,2-4 yrs experience (based on 53 salaries),₹ 19.7L₹ 15.0L₹ 25.5L
2,Optum,2-4 yrs experience (based on 48 salaries),₹ 16.5L₹ 11.0L₹ 22.6L
3,ZS,1-2 yrs experience (based on 33 salaries),₹ 15.7L₹ 11.0L₹ 22.0L
4,Fractal Analytics,2-4 yrs experience (based on 109 salaries),₹ 15.2L₹ 9.0L₹ 23.0L
5,Tiger Analytics,2-4 yrs experience (based on 65 salaries),₹ 14.7L₹ 9.0L₹ 20.0L
6,Legato Health Technologies,4 yrs experience (based on 11 salaries),₹ 14.5L₹ 11.0L₹ 20.0L
7,Tredence,3 yrs experience (based on 12 salaries),₹ 14.1L₹ 8.8L₹ 17.5L
8,UnitedHealth,2-4 yrs experience (based on 91 salaries),₹ 13.6L₹ 8.0L₹ 20.5L
9,Ford Motor,3-4 yrs experience (based on 21 salaries),₹ 13.5L₹ 10.0L₹ 18.0L