# WEB SCRAPPING

In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=aea9f60d352ae294d05fcc34da15e8c3f40c342d74195ffeccb3101a93068052
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests) (1.26.7)

In [2]:
from bs4 import BeautifulSoup
import requests

Q1.WRITE A PROGRAM TO DISPLAY ALL THE HEADER TAGS IN WIKIPEDIA.ORG

In [3]:
page=requests.get('https://www.wikipedia.org/')

In [4]:
page

In [5]:
soup=BeautifulSoup(page.content)

In [189]:
first_header=soup.find('div',class_="central-featured-lang lang1")

In [190]:
a=first_header.text.split()[0]

In [191]:
second_header=soup.find('div',class_="central-featured-lang lang2")

In [192]:
b=second_header.text.split()[0]

In [193]:
third_header=soup.find('div',class_="central-featured-lang lang3")
fourth_header=soup.find('div',class_="central-featured-lang lang4")
fifth_header=soup.find('div',class_="central-featured-lang lang5")
sixth_header=soup.find('div',class_="central-featured-lang lang6")
seventh_header=soup.find('div',class_="central-featured-lang lang7")
eight_header=soup.find('div',class_="central-featured-lang lang8")
ninth_header=soup.find('div',class_="central-featured-lang lang9")
tenth_header=soup.find('div',class_="central-featured-lang lang10")

In [194]:
c=third_header.text.split()[0]

In [195]:
d=fourth_header.text.split()[0]

In [196]:
e=fifth_header.text.split()[0]

In [230]:
f=sixth_header.text.split()[0]

In [231]:
g=seventh_header.text.split()[0]

In [232]:
h=eight_header.text.split()[0]

In [233]:
i=ninth_header.text.split()[0]

In [234]:
j=tenth_header.text.split()[0]

In [235]:
p=[a,b,c,d,e,f,g,h,i,j]

In [238]:
data=pd.DataFrame(data=p)

In [239]:
data

           0
0    English
1        日本語
2    Русский
3    Deutsch
4    Español
5   Français
6   Italiano
7         中文
8  Português
9     Polski

Q2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [48]:
imd=requests.get('https://www.imdb.com/chart/top/')

In [49]:
imd

In [50]:
sp=BeautifulSoup(imd.content)

In [77]:
names=[]

for i in sp.find_all('td',class_="titleColumn"):
    names.append(i.text.replace('\n',''))

In [96]:
ratings=[]

for i in sp.find_all('td',class_="ratingColumn imdbRating"):
    ratings.append(i.text.replace('\n',''))

In [98]:
print(len(ratings),len(names))

250 250

In [45]:
import pandas as pd

In [100]:
df=pd.DataFrame({'Names':names,'Rating':ratings})

In [101]:
df

                                            Names Rating
0          1.      The Shawshank Redemption(1994)    9.2
1                     2.      The Godfather(1972)    9.2
2                   3.      The Dark Knight(2008)    9.0
3             4.      The Godfather Part II(1974)    9.0
4                      5.      12 Angry Men(1957)    8.9
..                                            ...    ...
245                        246.      Gandhi(1982)    8.0
246                       247.      Aladdin(1992)    8.0
247                      248.      Jai Bhim(2021)    8.0
248                      249.      The Help(2011)    8.0
249          250.      Beauty and the Beast(1991)    8.0

[250 rows x 2 columns]

In [105]:
newdf=df.iloc[0:100,:]

In [107]:
newdf

                                                Names Rating
0              1.      The Shawshank Redemption(1994)    9.2
1                         2.      The Godfather(1972)    9.2
2                       3.      The Dark Knight(2008)    9.0
3                 4.      The Godfather Part II(1974)    9.0
4                          5.      12 Angry Men(1957)    8.9
..                                                ...    ...
95                              96.      Jagten(2012)    8.3
96        97.      M - Eine Stadt sucht einen Mörd...    8.3
97                  98.      North by Northwest(1959)    8.3
98                             99.      Vertigo(1958)    8.2
99                       100.      Idi i smotri(1985)    8.2

[100 rows x 2 columns]

Q3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [109]:
pg=requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=6S9XWRVT1E68DFV1E5FC&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm')

In [110]:
pg

In [111]:
indsp=BeautifulSoup(pg.content)

In [115]:
indian_names=[]

for i in indsp.find_all('td',class_="titleColumn"):
      indian_names.append(i.text.replace('\n',''))

In [340]:
indian_ratings=[]

for i in indsp.find_all('td',class_="ratingColumn imdbRating"):
    indian_ratings.append(i.text.replace('\n',''))

In [118]:
indlist=pd.DataFrame({'Indian_Names':indian_names,'Indian_Rating':indian_ratings})

In [119]:
indlist

                                   Indian_Names Indian_Rating
0                      1.      Anbe Sivam(2003)           8.4
1                         2.      Golmaal(1979)           8.4
2                        3.      Jai Bhim(2021)           8.4
3                         4.      Nayakan(1987)           8.4
4               5.      Pariyerum Perumal(2018)           8.4
..                                          ...           ...
245                          246.      24(2016)           7.6
246               247.      Kapoor & Sons(2016)           7.6
247        248.      Velaiilla Pattadhari(2014)           7.6
248                249.      Colour Photo(2020)           7.6
249                    250.      Rockstar(2011)           7.6

[250 rows x 2 columns]

In [120]:
newindlist=indlist.iloc[0:100,:]

In [121]:
newindlist

                                        Indian_Names Indian_Rating
0                           1.      Anbe Sivam(2003)           8.4
1                              2.      Golmaal(1979)           8.4
2                             3.      Jai Bhim(2021)           8.4
3                              4.      Nayakan(1987)           8.4
4                    5.      Pariyerum Perumal(2018)           8.4
..                                               ...           ...
95                    96.      Rang De Basanti(2006)           8.0
96                             97.      Baasha(1995)           8.0
97        98.      Baahubali 2: The Conclusion(2017)           8.0
98                             99.      Masaan(2015)           8.0
99                           100.      Kahaani(2012)           8.0

[100 rows x 2 columns]

Q4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [122]:
jp=requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [123]:
jp

In [124]:
ssp=BeautifulSoup(jp.content)

In [131]:
presidents=[]

for i in ssp.find_all('div',class_="presidentListing"):
    presidents.append(i.text.replace('\n',''))

In [177]:
president=pd.DataFrame(data=presidents)

In [178]:
president

                                                    0
0   Shri Ram Nath Kovind (birth - 1945)Term of Off...
1   Shri Pranab Mukherjee (1935-2020)Term of Offic...
2   Smt Pratibha Devisingh Patil (birth - 1934)Ter...
3   DR. A.P.J. Abdul Kalam (1931-2015)Term of Offi...
4   Shri K. R. Narayanan (1920 - 2005)Term of Offi...
5   Dr Shankar Dayal Sharma (1918-1999)Term of Off...
6   Shri R Venkataraman (1910-2009)Term of Office:...
7   Giani Zail Singh (1916-1994)Term of Office: 25...
8   Shri Neelam Sanjiva Reddy (1913-1996)Term of O...
9   Dr. Fakhruddin Ali Ahmed (1905-1977)Term of Of...
10  Shri Varahagiri Venkata Giri (1894-1980)Term o...
11  Dr. Zakir Husain (1897-1969)Term of Office: 13...
12  Dr. Sarvepalli Radhakrishnan (1888-1975)Term o...
13  Dr. Rajendra Prasad (1884-1963) Term of Office...

Q5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [187]:
men=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [188]:
men

In [189]:
bs=BeautifulSoup(men.content)

In [190]:
nk=[]

for i in bs.find_all('span',class_="u-hide-phablet"):
    nk.append(i.text)

In [192]:
bv=bs.find('td',class_="rankings-block__banner--matches")

In [213]:
po=bv.text

In [194]:
bh=bs.find('td',class_="rankings-block__banner--points")

In [215]:
poo=bh.text

In [196]:
kb=bs.find('td',class_="rankings-block__banner--rating u-text-right")

In [217]:
pooo=kb.text.replace(('\n'),(''))

In [199]:
mtc=[]

for i in bs.find_all('td',class_="table-body__cell u-center-text"):
    mtc.append(i.text)

In [204]:
mtc1=mtc[0:19:2]

In [205]:
mtc1

['27', '28', '19', '23', '21', '27', '29', '38', '18', '23']

In [206]:
rat=mtc[1:20:2]

In [208]:
bat=[]

for i in bs.find_all('td',class_="table-body__cell u-text-right rating"):
    bat.append(i.text)

In [210]:
newbat=bat[0:9]

In [211]:
newrat=rat[0:9]

In [212]:
newmtc1=mtc1[0:9]

In [214]:
newmtc1.insert(0,po)

In [216]:
newrat.insert(0,poo)

In [218]:
newbat.insert(0,pooo)

In [220]:
newnk=nk[0:10]

In [221]:
print(len(newnk),len(newbat),len(newrat),len(newmtc1))

10 10 10 10

In [225]:
fed=pd.DataFrame({'TEAMS':newnk,'MATCHES':newmtc1,'POINTS':newrat,'RATING':newbat})

In [226]:
fed

,TEAMS,MATCHES,POINTS,RATING
0,New Zealand,16,"2,051",128 ...
1,England,27,"3,226",119
2,India,28,"3,085",110
3,Pakistan,19,"2,005",106
4,Australia,23,"2,325",101
5,South Africa,21,"2,111",101
6,Bangladesh,27,"2,639",98
7,Sri Lanka,29,"2,658",92
8,West Indies,38,"2,621",69
9,Afghanistan,18,"1,238",69

b)Top 10 ODI Batsmen along with the records of their team and rating.

In [370]:
bb=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

In [371]:
bb

In [372]:
mn=BeautifulSoup(bb.content)

In [432]:
play=[]

for i in mn.find_all('td',class_="table-body__cell name"):
    play.append(i.text.replace(('\n'),('')))

In [433]:
team=[]

for i in mn.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)

In [434]:
rate=[]

for i in mn.find_all('td',class_="table-body__cell u-text-right rating"):
    rate.append(i.text)

In [435]:
a=mn.find('div',class_="rankings-block__banner--name")

In [436]:
c=a.text

In [437]:
c

'Babar Azam'

In [444]:
d=play.insert(0,c)

In [445]:
f=mn.find('div',class_="rankings-block__banner--nationality")

In [450]:
k=f.text.split()[0]

In [451]:
bb=team.insert(0,k)

In [452]:
gg=mn.find('div',class_="rankings-block__banner--rating")

In [455]:
kg=gg.text

In [456]:
ki=rate.insert(0,kg)

In [463]:
play.pop(0)

'Babar Azam'

In [468]:
play.pop(-1)

'Babar Azam'

In [469]:
len(play)

55

In [470]:
len(rate)

55

In [471]:
len(team)

55

In [473]:
fgg=pd.DataFrame({'PLAYER':play,'TEAM':team,'RATING':rate})

In [475]:
fgg.iloc[0:10,:]

                  PLAYER TEAM RATING
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2  Rassie van der Dussen   SA    789
3        Quinton de Kock   SA    784
4            Virat Kohli  IND    774
5           Rohit Sharma  IND    770
6            Ross Taylor   NZ    752
7           David Warner  AUS    737
8         Jonny Bairstow  ENG    732
9            Aaron Finch  AUS    715

c) Top 10 ODI bowlers along with the records of their team and rating.

In [3]:
qq=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [4]:
qq

In [5]:
fd=BeautifulSoup(qq.content)

In [6]:
aa=fd.find('div',class_="rankings-block__banner--name-large")

In [17]:
bowlers=[]

for i in fd.find_all('td',class_="table-body__cell rankings-table__name name"):
    bowlers.append(i.text.replace(('\n'),('')))

In [19]:
bowlers.insert(0,aa.text)

In [21]:
tt=fd.find('div',class_="rankings-block__banner--nationality")

In [30]:
ji=tt.text.replace(('\n'),(''))

In [31]:
teamm=[]

for i in fd.find_all('span',class_="table-body__logo-text"):
    teamm.append(i.text)

In [32]:
teamm.insert(0,ji)

In [34]:
ooo=fd.find('div',class_="rankings-block__banner--rating")

In [40]:
top=ooo.text

In [41]:
ratingsss=[]

for i in fd.find_all('td',class_="table-body__cell rating"):
    ratingsss.append(i.text)

In [43]:
ratingsss.insert(0,top)

In [46]:
bowlersdata=pd.DataFrame({'BOWLER':bowlers,'TEAM':teamm,'RATING':ratingsss})

In [47]:
newdata=bowlersdata.iloc[0:10,:]

In [48]:
newdata

             BOWLER                    TEAM RATING
0       Trent Boult  NZ                        697
1    Jasprit Bumrah                     IND    682
2    Shaheen Afridi                     PAK    681
3    Josh Hazlewood                     AUS    679
4  Mujeeb Ur Rahman                     AFG    676
5      Mehedi Hasan                     BAN    672
6        Matt Henry                      NZ    663
7     Mohammad Nabi                     AFG    657
8       Rashid Khan                     AFG    651
9      Chris Woakes                     ENG    640

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [49]:
pl=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [50]:
pl

In [51]:
ee=BeautifulSoup(pl.content)

In [52]:
womanteam=[]

for i in ee.find_all('span',class_="u-hide-phablet"):
    womanteam.append(i.text)

In [55]:
matches=ee.find('td',class_="rankings-block__banner--matches")

In [253]:
plo=matches.text

In [289]:
pt=ee.find('td',class_="rankings-block__banner--points")

In [290]:
pp=pt.text

In [291]:
pp

'4,837'

In [292]:
rt=ee.find('td',class_="rankings-block__banner--rating u-text-right")

In [332]:
rr=rt.text.replace(('\n'),(''))

In [294]:
mtt=[]

for i in ee.find_all('td',class_="table-body__cell u-center-text"):
    mtt.append(i.text)

In [357]:
mtch=mtt[0:18:2]

In [358]:
mtch

['33', '35', '32', '31', '30', '12', '30', '11', '8']

In [352]:
pts=mtt[1:19:2]

In [353]:
pts

['4,046', '4,157', '3,219', '3,019', '2,768', '930', '1,962', '495', '351']

In [320]:
rts=[]

for i in ee.find_all('td',class_="table-body__cell u-text-right rating"):
    rts.append(i.text.replace(('\n'),('')))

In [343]:
newrts=rts[0:9]

In [344]:
newrts.insert(0,rr)

In [345]:
newwm=womanteam[0:10]

In [354]:
pts.insert(0,pp)

In [359]:
mtch.insert(0,plo)

In [362]:
wt=pd.DataFrame({'TEAM':newwm,'MATCHES':mtch,'POINTS':pts,'RATING':newrts})

In [363]:
wt

,TEAM,MATCHES,POINTS,RATING
0,Australia,29,"4,837",167 ...
1,England,33,"4,046",123
2,South Africa,35,"4,157",119
3,India,32,"3,219",101
4,New Zealand,31,"3,019",97
5,West Indies,30,"2,768",92
6,Bangladesh,12,930,78
7,Pakistan,30,"1,962",65
8,Sri Lanka,11,495,45
9,Ireland,8,351,44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [364]:
bat=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [365]:
bet=BeautifulSoup(bat.content)

In [366]:
wn=bet.find('div',class_="rankings-block__banner--name-large")

In [367]:
yy=wn.text

In [368]:
gn=bet.find('div',class_="rankings-block__banner--nationality")

In [369]:
qw=gn.text.replace(('\n'),(''))

In [370]:
wr=bet.find('div',class_="rankings-block__banner--rating")

In [371]:
playeer=[]

for i in bet.find_all('td', class_="table-body__cell rankings-table__name name"):
    playeer.append(i.text.replace(('\n'),('')))

In [372]:
teaam=[]

for i in bet.find_all('span',class_="table-body__logo-text"):
    teaam.append(i.text)

In [144]:
rrating=[]

for i in bet.find_all('td',class_="table-body__cell rating"):
    rrating.append(i.text)

In [145]:
playeer.insert(0,yy)

In [146]:
teaam.insert(0,qw)

In [147]:
rrating.insert(0,wr)

In [148]:
print(len(playeer),len(teaam),len(rrating))

100 100 100

In [149]:
table=pd.DataFrame({'PLAYER':playeer,'TEAM':teaam,'RATING':rrating})

In [150]:
newtable=table.iloc[0:10,:]

In [373]:
newtable

                PLAYER                     TEAM RATING
0         Alyssa Healy  AUS                      [785]
1          Beth Mooney                      AUS    749
2       Natalie Sciver                      ENG    747
3      Laura Wolvaardt                       SA    732
4          Meg Lanning                      AUS    710
5       Rachael Haynes                      AUS    701
6    Amy Satterthwaite                       NZ    681
7       Tammy Beaumont                      ENG    667
8  Chamari Athapaththu                       SL    655
9      Smriti Mandhana                      IND    649

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [152]:
odi=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [153]:
alr=BeautifulSoup(odi.content)

In [155]:
namee=alr.find('div',class_="rankings-block__banner--name-large")

In [162]:
nm=namee.text

In [163]:
ntn=alr.find('div',class_="rankings-block__banner--nationality")

In [164]:
n=ntn.text.replace(('\n'),(''))

In [165]:
rtr=alr.find('div',class_="rankings-block__banner--rating")

In [168]:
r=rtr.text

In [171]:
allr=[]

for i in alr.find_all('td',class_="table-body__cell rankings-table__name name"):
    allr.append(i.text.replace(('\n'),('')))

In [175]:
tmm=[]

for i in alr.find_all('span',class_="table-body__logo-text"):
    tmm.append(i.text)

In [177]:
gmm=[]

for i in alr.find_all('td',class_="table-body__cell rating"):
    gmm.append(i.text)

In [179]:
allr.insert(0,nm)

In [180]:
tmm.insert(0,n)

In [181]:
gmm.insert(0,r)

In [182]:
print(len(allr),len(tmm),len(gmm))

20 20 20

In [184]:
ed=pd.DataFrame({'PLAYER':allr,'TEAM':tmm,'RATING':gmm})

In [185]:
newed=ed.iloc[0:10,:]

In [186]:
newed

             PLAYER                     TEAM RATING
0    Natalie Sciver  ENG                        379
1      Ellyse Perry                      AUS    374
2    Marizanne Kapp                       SA    349
3   Hayley Matthews                       WI    339
4       Amelia Kerr                       NZ    336
5  Ashleigh Gardner                      AUS    270
6     Deepti Sharma                      IND    252
7     Jess Jonassen                      AUS    246
8   Katherine Brunt                      ENG    220
9   Stafanie Taylor                       WI    207

Q7.Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

i) Headline
ii) Time
iii) News Lin

In [240]:
cnn=requests.get('https://www.cnbc.com/world/?region=world')

In [241]:
cnn

In [242]:
cs=BeautifulSoup(cnn.content)

In [296]:
time=[]

for i in cs.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)

In [297]:
headlines=[]

for i in cs.find_all('a',class_="LatestNews-headline"):
    headlines.append(i.text)

In [298]:
newslink=[]

for i in cs.find_all('a',class_="LatestNews-headline"):
    newslink.append(i['href'])

In [299]:
print(len(headlines),len(time),len(newslink))

30 30 30

In [300]:
NEWS=pd.DataFrame({'HEADLINES':headlines,'TIME':time,'LINK':newslink})

In [301]:
NEWS

,HEADLINES,TIME,LINK
0,China's economy could be dragged down by loss ...,3 Hours Ago,https://www.cnbc.com/2022/08/02/chinas-economy...
1,They dropped out of Stanford to run a startup....,3 Hours Ago,https://www.cnbc.com/2022/08/02/stanford-dropo...
2,Has the bear market hit bottom? Here’s what Wa...,5 Hours Ago,https://www.cnbc.com/2022/08/02/ubs-barclays-b...
3,Is the U.S. in a recession? This strategist is...,5 Hours Ago,https://www.cnbc.com/2022/08/02/stanchart-anal...
4,California declares monkeypox outbreak an emer...,5 Hours Ago,https://www.cnbc.com/2022/08/01/california-dec...
5,Coal is making a comeback and consumption coul...,5 Hours Ago,https://www.cnbc.com/2022/08/02/coal-consumpti...
6,Cramer's lightning round: I like Costco over B...,6 Hours Ago,https://www.cnbc.com/2022/08/01/cramers-lightn...
7,Hong Kong leads losses in Asia as geopolitical...,6 Hours Ago,https://www.cnbc.com/2022/08/02/asia-markets-s...
8,AGCO CEO says he expects grain shortage to las...,7 Hours Ago,https://www.cnbc.com/2022/08/01/agco-ceo-says-...
9,Cramer’s week ahead: Jobs report on Friday wil...,7 Hours Ago,https://www.cnbc.com/2022/08/01/cramers-week-a...
10,Stock futures slip after first trading day in ...,7 Hours Ago,https://www.cnbc.com/2022/08/01/stock-futures-...
11,Best trades on CNBC Monday: Target upgraded. M...,8 Hours Ago,https://www.cnbc.com/2022/08/01/best-trades-on...
12,Biden says drone strike killed al-Qaeda leader...,8 Hours Ago,https://www.cnbc.com/2022/08/01/biden-set-to-s...
13,Biden administration faces midnight court dead...,8 Hours Ago,https://www.cnbc.com/2022/08/01/biden-administ...
14,Devon Energy's strong quarter came with blockb...,8 Hours Ago,https://www.cnbc.com/2022/08/01/investing-club...
15,Stocks making big after hours moves: Pinterest...,8 Hours Ago,https://www.cnbc.com/2022/08/01/stocks-making-...
16,OSHA fines Family Dollar $1.2 million for viol...,8 Hours Ago,https://www.cnbc.com/2022/08/01/osha-fines-fam...
17,Here’s what Wall Street expects when 4 of our ...,9 Hours Ago,https://www.cnbc.com/2022/08/01/heres-what-wal...
18,Ford stock notches its best month since the Gr...,9 Hours Ago,https://www.cnbc.com/2022/08/01/ford-stock-pos...
19,Pinterest climbs on better-than-expected user ...,9 Hours Ago,https://www.cnbc.com/2022/08/01/pinterest-earn...
20,"Koch network pressures Sens. Manchin, Sinema t...",10 Hours Ago,https://www.cnbc.com/2022/08/01/koch-network-p...
21,"Man accused of pretending to be DHS, duping Se...",10 Hours Ago,https://www.cnbc.com/2022/08/01/fake-federal-a...
22,"August could be good for stocks, but more turm...",10 Hours Ago,https://www.cnbc.com/2022/08/01/august-could-b...
23,"As 66% worry a recession is coming, here's wha...",10 Hours Ago,https://www.cnbc.com/2022/08/01/66percent-worr...
24,David Einhorn bets on companies with buybacks ...,11 Hours Ago,https://www.cnbc.com/2022/08/01/david-einhorn-...
25,JPMorgan's favorite stock picks for August are...,11 Hours Ago,https://www.cnbc.com/2022/08/01/here-are-jpmor...
26,Federal government could lose $197 billion on ...,11 Hours Ago,https://www.cnbc.com/2022/08/01/federal-govern...
27,How to play Gen Z as it surpasses millennials ...,11 Hours Ago,https://www.cnbc.com/2022/08/01/how-to-play-ge...
28,Why 65% of Americans are wrong to keep cash ou...,11 Hours Ago,https://www.cnbc.com/2022/08/01/why-americans-...
29,Tom Brady says great leaders always try to imp...,11 Hours Ago,https://www.cnbc.com/2022/08/01/tom-brady-grea...

Q8.Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [269]:
ai=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [270]:
ai

In [272]:
aa=BeautifulSoup(ai.content)

In [275]:
papertitle=[]

for i in aa.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    papertitle.append(i.text)

In [277]:
authors=[]

for i in aa.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)

In [278]:
publishdate=[]

for i in aa.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    publishdate.append(i.text)

In [285]:
link=[]

for i in aa.find_all('a',class_="sc-5smygv-0 nrDZj"):
    link.append(i['href'])

In [287]:
print(len(link),len(authors),len(publishdate),len(papertitle))

25 25 25 25

In [288]:
AI=pd.DataFrame({'PAPER_TITLE':papertitle,'AUTHORS':authors,'PUBLISHED_DATE':publishdate,'PAPER_URL':link})

In [289]:
AI

,PAPER_TITLE,AUTHORS,PUBLISHED_DATE,PAPER_URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

Q9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location 
iv) Ratings
v) Image URL

In [302]:
dn=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")

In [303]:
dn

In [304]:
dd=BeautifulSoup(dn.content)

In [305]:
names=[]

for i in dd.find_all('div',class_="restnt-info cursor"):
    names.append(i.text)

In [333]:
cusine=[]

for i in dd.find_all('span',class_="double-line-ellipsis"):
    cusine.append(i.text.split()[6:])

In [334]:
location=[]

for i in dd.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

In [335]:
rating=[]

for i in dd.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)

In [336]:
image=[]

for i in dd.find_all('img',class_="no-img"):
    image.append(i['data-src'])

In [337]:
print(len(image),len(rating),len(cusine),len(names),len(location))

9 9 9 9 9

In [338]:
REST=pd.DataFrame({'NAME':names,'CUISINE':cusine,'LOCATION':location,'RATING':rating,'IMAGE_URL':image})

In [339]:
REST

,NAME,CUISINE,LOCATION,RATING,IMAGE_URL
0,"Castle BarbequeConnaught Place, Central Delhi","[North, Indian,, Chinese]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","[North, Indian,, Asian,, Italian]","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","[Chinese,, North, Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","[Italian,, Continental]","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","[North, Indian,, Chinese]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","[North, Indian,, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","[North, Indian]","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"[North, Indian]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","[North, Indian,, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

Q10) Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
 iv) h5-media

In [341]:
gs=requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")

In [342]:
gs

In [343]:
gh=BeautifulSoup(gs.content)

In [345]:
rank=[]

for i in gh.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)

In [346]:
publication=[]

for i in gh.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)

In [347]:
h5=[]

for i in gh.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5.append(i.text)

In [351]:
h5m=[]

for i in gh.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5m.append(i.text)

In [352]:
print(len(h5),len(h5m),len(publication),len(rank))

100 100 100 100

In [353]:
NAMES=pd.DataFrame({'RANK':rank,'PUBLICATION':publication,'H5_INDEX':h5,'H5_MEDIAN':h5m})

In [354]:
NAMES

    RANK                                        PUBLICATION H5_INDEX H5_MEDIAN
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]