# WEBSCAPPING ASSIGNMENT 4

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import requests
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, NoSuchWindowException,ElementNotInteractableException,InvalidArgumentException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32 (1)\chromedriver.exe")

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [224]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [232]:
namee=[]
try:
    ns=driver.find_elements(By.XPATH,'//td')
    for i in ns[2:182]:
        namee.append(i.text)
except NoSuchElementException:
    namee.append('-')

In [233]:
namee

['1.',
 '"Baby Shark Dance"[3]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '11.24',
 'June 17, 2016',
 '[A]',
 '2.',
 '"Despacito"[6]',
 'Luis Fonsi',
 '7.96',
 'January 12, 2017',
 '[B]',
 '3.',
 '"Johny Johny Yes Papa"[12]',
 'LooLoo Kids',
 '6.44',
 'October 8, 2016',
 '[C]',
 '4.',
 '"Shape of You"[13]',
 'Ed Sheeran',
 '5.80',
 'January 30, 2017',
 '[D]',
 '5.',
 '"See You Again"[15]',
 'Wiz Khalifa',
 '5.62',
 'April 6, 2015',
 '[E]',
 '6.',
 '"Bath Song"[20]',
 'Cocomelon – Nursery Rhymes',
 '5.59',
 'May 2, 2018',
 '[F]',
 '7.',
 '"Phonics Song with Two Words"[21]',
 'ChuChu TV',
 '4.85',
 'March 6, 2014',
 '[G]',
 '8.',
 '"Uptown Funk"[22]',
 'Mark Ronson',
 '4.68',
 'November 19, 2014',
 '[H]',
 '9.',
 '"Learning Colors – Colorful Eggs on a Farm"[23]',
 'Miroshka TV',
 '4.61',
 'February 27, 2018',
 '[I]',
 '10.',
 '"Gangnam Style"[24]',
 'Psy',
 '4.53',
 'July 15, 2012',
 '[J]',
 '11.',
 '"Masha and the Bear – Recipe for Disaster"[29]',
 'Get Movies',
 '4.51',
 'January 31, 2012',
 '[K]',
 '12.',
 '"Wheels on the Bus"[30]',
 'Cocomelon – Nursery Rhymes',
 '4.31',
 'May 24, 2018',
 '',
 '13.',
 '"Dame Tu Cosita"[31]',
 'El Chombo',
 '4.05',
 'April 5, 2018',
 '',
 '14.',
 '"Sugar"[32]',
 'Maroon 5',
 '3.75',
 'January 14, 2015',
 '',
 '15.',
 '"Roar"[33]',
 'Katy Perry',
 '3.64',
 'September 5, 2013',
 '',
 '16.',
 '"Counting Stars"[34]',
 'OneRepublic',
 '3.63',
 'May 31, 2013',
 '',
 '17.',
 '"Sorry"[35]',
 'Justin Bieber',
 '3.58',
 'October 22, 2015',
 '',
 '18.',
 '"Axel F"[36]',
 'Crazy Frog',
 '3.49',
 'June 16, 2009',
 '',
 '18.',
 '"Thinking Out Loud"[37]',
 'Ed Sheeran',
 '3.49',
 'October 7, 2014',
 '',
 '20.',
 '"Baa Baa Black Sheep"[38]',
 'Cocomelon – Nursery Rhymes',
 '3.35',
 'June 25, 2018',
 '',
 '21.',
 '"Dark Horse"[39]',
 'Katy Perry',
 '3.34',
 'February 20, 2014',
 '',
 '22.',
 '"Faded"[40]',
 'Alan Walker',
 '3.33',
 'December 3, 2015',
 '',
 '23.',
 '"Girls Like You"[41]',
 'Maroon 5',
 '3.33',
 'May 31, 2018',
 '',
 '24.',
 '"Let Her Go"[42]',
 'Passenger',
 '3.29',
 'July 25, 2012',
 '',
 '25.',
 '"Bailando"[43]',
 'Enrique Iglesias',
 '3.26',
 'April 11, 2014',
 '',
 '26.',
 '"Lean On"[44]',
 'Major Lazer',
 '3.25',
 'March 22, 2015',
 '',
 '27.',
 '"Perfect"[45]',
 'Ed Sheeran',
 '3.24',
 'November 9, 2017',
 '',
 '28.',
 '"Waka Waka (This Time for Africa)"[46]',
 'Shakira',
 '3.23',
 'June 4, 2010',
 '',
 '29.',
 '"Shake It Off"[47]',
 'Taylor Swift',
 '3.20',
 'August 18, 2014',
 '',
 '30.',
 '"Humpty the train on a fruits ride"[48]',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 '3.14',
 'January 26, 2018',
 '']

In [239]:
rkk=namee[0:182:6]

In [240]:
nm=namee[1:182:6]

In [241]:
arttist=namee[2:182:6]

In [242]:
uploaddate=namee[3:182:6]

In [243]:
views=namee[4:182:6]

In [244]:
len(rkk),len(nm),len(arttist),len(uploaddate),len(views)

(30, 30, 30, 30, 30)

In [246]:
DATA1=pd.DataFrame({'RANK':rkk,'NAME':nm,'ARTIST':arttist,'UPLOAD_DATE':uploaddate,'VIEWS':views})

In [247]:
DATA1

,RANK,NAME,ARTIST,UPLOAD_DATE,VIEWS
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.24,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.96,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.44,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.80,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.62,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.59,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.85,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.68,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.61,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.53,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.31,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.05,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.75,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.64,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.63,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.58,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.49,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.49,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.35,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.34,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.33,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.29,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.26,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.25,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.24,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.23,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.20,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.14,"January 26, 2018"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [25]:
driver.get('https://www.bcci.tv/.')

In [27]:
intt=driver.find_element(By.XPATH,'//a[@class="nav-link "]')
intt.click()

In [33]:
matchtitle=[]
ds=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in ds:
    matchtitle.append(i.text)

In [29]:
series=[]
ft=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in ft:
    series.append(i.text)

In [30]:
place=[]
pl=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in pl:
    place.append(i.text)

In [31]:
date=[]
dt=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in dt:
    date.append(i.text)

In [32]:
time=[]
tm=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in tm:
    time.append(i.text)

In [35]:
len(time),len(date),len(place),len(series),len(matchtitle)

(8, 8, 8, 8, 8)

In [36]:
DATA=pd.DataFrame({'MATCHTITLE':matchtitle,'SERIES':series,'DATE':date,'PLACE':place,'TIME':time})

In [37]:
DATA

,MATCHTITLE,SERIES,DATE,PLACE,TIME
0,1st T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,10 SEP 2022,"1st T20I - Riverside Ground, Chester-le-Street",11:30 PM IST
1,2nd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,13 SEP 2022,"2nd T20I - County Ground, Derby",10:30 PM IST
2,3rd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,15 SEP 2022,"3rd T20I - County Ground, Bristol",11:00 PM IST
3,1st ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,18 SEP 2022,"1st ODI - County Ground, Hove",3:30 PM IST
4,1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,20 SEP 2022,1st T20I - Punjab Cricket Association IS Bindr...,7:30 PM IST
5,2nd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,21 SEP 2022,"2nd ODI - St Lawrence Ground, Canterbury",5:30 PM IST
6,2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,23 SEP 2022,2nd T20I - Vidarbha Cricket Association Stadiu...,7:30 PM IST
7,3rd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,24 SEP 2022,"3rd ODI - Lord's Cricket Ground, London",3:30 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [140]:
driver.get('https://www.guru99.com/')

In [141]:
search=driver.find_element(By.XPATH,'//input[@autocomplete="off"]')
search.send_keys('SELENIUM EXCEPTION HANDLING')

In [142]:
btn=driver.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]')
btn.click()

In [143]:
lk=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
driver.get(lk.get_attribute('href'))

In [160]:
nam=[]
mn=driver.find_elements(By.XPATH,'//strong')
for i in mn[2:43]:
    nam.append(i.text)

In [162]:
dscc=[]
dc=driver.find_elements(By.XPATH,'//p')
for i in dc:
    dscc.append(i.text)

In [170]:
dscc1=dscc[2:43]

In [172]:
len(dscc1),len(nam)

(41, 41)

In [173]:
DATA3=pd.DataFrame({'NAME':nam,'DESCRIPTION':dscc1})

In [174]:
DATA3

,NAME,DESCRIPTION
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...
1,2. ElementNotSelectableException:,2. ElementNotSelectableException: This Seleniu...
2,3. NoSuchElementException:,3. NoSuchElementException: This Exception occu...
3,4. NoSuchFrameException:,4. NoSuchFrameException: This Exception occurs...
4,5. NoAlertPresentException:,5. NoAlertPresentException: This Exception occ...
5,6. NoSuchWindowException:,6. NoSuchWindowException: This Exception occur...
6,7. StaleElementReferenceException:,7. StaleElementReferenceException: This Seleni...
7,8. SessionNotFoundException:,8. SessionNotFoundException: The WebDriver is ...
8,9. TimeoutException:,9. TimeoutException: Thrown when there is not ...
9,10. WebDriverException:,10. WebDriverException: This Exception takes p...
10,11. ConnectionClosedException:,11. ConnectionClosedException: This type of Ex...
11,12. ElementClickInterceptedException:,12. ElementClickInterceptedException: The comm...
12,13. ElementNotInteractableException:,13. ElementNotInteractableException: This Sele...
13,14. ErrorInResponseException:,14. ErrorInResponseException: This happens whi...
14,15. ErrorHandler.UnknownServerException:,15. ErrorHandler.UnknownServerException: Excep...
15,16. ImeActivationFailedException:,16. ImeActivationFailedException: This expecta...
16,17. ImeNotAvailableException:,17. ImeNotAvailableException: It takes place w...
17,18. InsecureCertificateException:,18. InsecureCertificateException: Navigation m...
18,19. InvalidArgumentException:,19. InvalidArgumentException: It occurs when a...
19,20. InvalidCookieDomainException:,20. InvalidCookieDomainException: This happens...
20,21. InvalidCoordinatesException:,21. InvalidCoordinatesException: This type of ...
21,22. InvalidElementStateException:,22. InvalidElementStateException: It occurs wh...
22,23. InvalidSessionIdException:,23. InvalidSessionIdException: This Exception ...
23,24. InvalidSwitchToTargetException:,24. InvalidSwitchToTargetException: This occur...
24,25. JavascriptException:,25. JavascriptException: This issue occurs whi...
25,26. JsonException:,26. JsonException: It occurs when you afford t...
26,27. NoSuchAttributeException:,27. NoSuchAttributeException: This kind of Exc...
27,28. MoveTargetOutOfBoundsException:,28. MoveTargetOutOfBoundsException: It takes p...
28,29. NoSuchContextException:,29. NoSuchContextException: ContextAware does ...
29,30. NoSuchCookieException:,30. NoSuchCookieException: This Exception occu...
30,31. NotFoundException:,31. NotFoundException: This Exception is a sub...
31,32. RemoteDriverServerException:,32. RemoteDriverServerException: This Selenium...
32,33. ScreenshotException:,33. ScreenshotException: It is not possible to...
33,34. SessionNotCreatedException:,34. SessionNotCreatedException: It happens whe...
34,35. UnableToSetCookieException:,35. UnableToSetCookieException: This occurs if...
35,36. UnexpectedTagNameException:,36. UnexpectedTagNameException: Happens if a s...
36,37. UnhandledAlertException:,37. UnhandledAlertException: This expectation ...
37,38. UnexpectedAlertPresentException:,38. UnexpectedAlertPresentException: It occurs...
38,39. UnknownMethodException:,39. UnknownMethodException: This Exception hap...
39,40. UnreachableBrowserException:,40. UnreachableBrowserException: This Exceptio...
40,41. UnsupportedCommandException:,41. UnsupportedCommandException: This occurs w...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [250]:
driver.get('http://statisticstimes.com')

In [5]:
ecn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
ecn.click()

In [7]:
indd=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
driver.get(indd.get_attribute('href'))

In [8]:
indgdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(indgdp.get_attribute('href'))

In [252]:
rank=[]
rk=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rk[0:33]:
    rank.append(i.text)

In [253]:
state=[]
oh=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in oh[0:33]:
    state.append(i.text)

In [254]:
gd18=[]

tg=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in tg[0:33]:
    gd18.append(i.text)

In [255]:
double=[]

vr=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in vr[0:165]:
    double.append(i.text)

In [256]:
gdp19=double[0:165:5]

In [257]:
share=double[1:165:5]

In [258]:
gdp=double[2:165:5]

In [259]:
DATA4=pd.DataFrame({'RANK':rank,'STATE':state,'GDSP19':gdp19,'GDSP18':gd18,'SHARE':share,'GDP':gdp})

In [260]:
DATA4

   RANK                      STATE     GDSP19     GDSP18   SHARE      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [9]:
driver.get('https://github.com/')

In [11]:
rep=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
rep.click()

In [12]:
repp=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
driver.get(repp.get_attribute('href'))

In [16]:
repname=[]
rp=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in rp:                        
    repname.append(i.text)

In [18]:
desc=[]
ds=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in ds:
    desc.append(i.text)

In [32]:
lang=[]
lg=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
try:
    for i in lg:
        lang.append(i.text)
except NoSuchElementException :
    lang.append('-')

In [22]:
contcount=[]
ct=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in ct:
    contcount.append(i.text)

In [38]:
len(repname),len(desc),len(lang),len(cont)

(25, 25, 25, 25)

In [30]:
cont=contcount[0:50:2]

In [36]:
lang.insert(8,('-'))

In [37]:
lang.insert(21,('-'))

In [39]:
DATA5=pd.DataFrame({'REPOSITORY_NAME':repname,'DESCRIPTION':desc,'LANGUAGE':lang,'CONTRIBUTORS_COUNT':cont})

In [40]:
DATA5

,REPOSITORY_NAME,DESCRIPTION,LANGUAGE,CONTRIBUTORS_COUNT
0,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,Python,"2,265"
1,sd-webui / stable-diffusion-webui,Stable Diffusion web UI,Python,"3,333"
2,somebasj / ParallelsDesktopCrack,Parallels Desktop for mac Crack,Shell,"1,328"
3,AykutSarac / jsoncrack.com,🔮 Seamlessly visualize your JSON data instantl...,TypeScript,"10,890"
4,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",Rust,"4,739"
5,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,Python,"31,709"
6,termux / termux-app,Termux - a terminal emulator application for A...,Java,"15,543"
7,TheAlgorithms / Python,All Algorithms implemented in Python,Python,"143,278"
8,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,-,"62,479"
9,Alcibiades-Capital / mev_bundle_generator,A MEV bundle generator written in Rust,Rust,458
10,meienberger / runtipi,⛺️ Tipi is a homeserver for everyone! One comm...,TypeScript,"2,327"
11,hiroi-sora / Umi-OCR,OCR批量图片转文字识别软件，带界面，离线运行。可排除图片中水印区域的干扰，提取干净的文本。...,Python,"1,248"
12,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,Jupyter Notebook,736
13,benphelps / homepage,A highly customizable homepage (or startpage /...,JavaScript,672
14,jaakkopasanen / AutoEq,Automatic headphone equalization from frequenc...,Jupyter Notebook,"8,513"
15,NvChad / NvChad,An attempt to make neovim cli functional like ...,Lua,"11,944"
16,mdn / content,The content behind MDN Web Docs,Markdown,"6,256"
17,mantinedev / mantine,React components library with native dark them...,TypeScript,"14,331"
18,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",Python,"141,162"
19,microsoft / PowerToys,Windows system utilities to maximize productivity,C#,"77,926"
20,apache / incubator-streampark,"StreamPark, Make stream processing easier! eas...",Java,"2,314"
21,34306 / TrollStoreiPA,"This repo saved iPA for TrollStore, work as ja...",-,108
22,ventoy / Ventoy,A new bootable USB solution.,C,"39,167"
23,ziglang / zig,General-purpose programming language and toolc...,Zig,"17,580"
24,openwrt / openwrt,This repository is a mirror of https://git.ope...,C,"12,594"

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [184]:
driver.get('https://www.billboard.com/')

In [185]:
link=driver.find_element(By.XPATH,'//li[@class="o-nav__list-item "]')
link.click()

In [115]:
songname=[]

sng=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
for i in sng:
    songname.append(i.text)

In [116]:
songname.pop(0)

''

In [117]:
songname.pop(0)

''

In [118]:
songname.pop(0)

''

In [119]:
songname.pop(0)

''

In [120]:
songname.pop(0)

''

In [121]:
songname.pop(0)

''

In [123]:
len(songname)

413

In [124]:
songs=songname[0:400:4]

In [144]:
week=[]
art=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]')
for i in art:
    week.append(i.text)

In [145]:
len(week)

200

In [147]:
lastweek=week[0:200:2]

In [148]:
weeksboard=week[1:200:2]

In [165]:
peak=[]

prr=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
for i in prr:
    peak.append(i.text)

In [167]:
len(peak)

200

In [170]:
peaknew=peak[1:200:2]

In [172]:
artt=[]
ert=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in ert:
    artt.append(i.text)

In [175]:
len(artt)

99

In [193]:
apr=[]
apl=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
for i in apl:
    apr.append(i.text)

In [195]:
apr

['Harry Styles']

In [196]:
artt.insert(0,apr)

In [198]:
len(artt)

100

In [201]:
DATA6=pd.DataFrame({'SONG_NAME':songs,'ARTIST':artt,'LAST_WEEK_RANK':lastweek,'PEAK_RANK':peaknew,'WEEKS_ON_BOARD':weeksboard})

In [202]:
DATA6

,SONG_NAME,ARTIST,LAST_WEEK_RANK,PEAK_RANK,WEEKS_ON_BOARD
0,As It Was,[Harry Styles],1,1,22
1,Bad Habit,Steve Lacy,3,2,9
2,About Damn Time,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God),Kate Bush,4,3,34
4,Sunroof,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,81,12,17
96,2 Be Loved (Am I Ready),Lizzo,95,84,3
97,Wait In The Truck,HARDY Featuring Lainey Wilson,-,98,1
98,La Corriente,Bad Bunny & Tony Dize,87,32,14
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,82,82,4

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [196]:
driver.get('https://www.naukri.com/')

In [197]:
src=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
src.send_keys('DATA SCIENCE')

In [198]:
sbm=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
sbm.click()

In [199]:
desig=[]
dsg=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in dsg:
    desig.append(i.text)

In [200]:
comp=[]
cmp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in cmp:
    comp.append(i.text)

In [201]:
skills=[]
cmps=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in cmps:
    skills.append(i.text)

In [202]:
location=[]
cmpss=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in cmpss:
    location.append(i.text)

In [211]:
locations=location[2:57:3]

In [215]:
DATA7=pd.DataFrame({'NAME':desig,'COMPANY':comp,'SKILLS':skills,'LOCATION':locations})

In [216]:
DATA7

,NAME,COMPANY,SKILLS,LOCATION
0,Senior Analyst-Data Science,Accenture,Publishing\nConsulting\nPredictive modeling\nD...,Bangalore/Bengaluru
1,Senior Manager - Data Science,Xpressbees (BusyBees Logistics Solutions Pvt. ...,Data Science\nIT Skills\nPython\nMachine Learn...,"Pune, Bangalore/Bengaluru"
2,Senior Analyst-Data Science,Accenture,Publishing\nArtificial Intelligence\nConsultin...,Gurgaon/Gurugram
3,Senior Analyst-Data Science,Accenture,Publishing\nConsulting\nPredictive modeling\nD...,Gurgaon/Gurugram
4,Trainee- Data Science,Survik Software Pvt Ltd,python\nData Analysis\nData Mining\nmachine le...,Pune
5,Lead - Data Science,United Phosphorus Limited,Data Science\nadvanced analytics\ndata analysi...,Bangalore/Bengaluru
6,Lead - Data Science,United Phosphorus Limited,Data Science\nadvanced analytics\ndigital anal...,Bangalore/Bengaluru
7,Hiring For AVP |Data Science and Business Anal...,Citicorp Finance,R\nData Science\npython\nBusiness Analytics\nR...,"Pune, Bangalore/Bengaluru"
8,Data Science Trainer,STARAGILE CONSULTING,trainer\nBusiness Intelligence tools\nData Ana...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
9,Analyst Business Intelligence & Data Science,Ciena,Data Science\nBusiness Intelligence\ndata anal...,Gurgaon/Gurugram
10,Director Data Science,Optum,Data Science\nNLP\nBusiness Analytics\ndata st...,Gurgaon/Gurugram
11,"Senior Scientist, Data Science & Digital",Novartis Healthcare,Automation\nData analysis\nSimulation\nAnalyti...,Hyderabad/Secunderabad
12,Senior Analyst-Data Science,Accenture,Publishing\nArchitecture\nConsulting\nMachine ...,Mumbai
13,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,HuQuo,Data Science\nPython\nTableau\ndata analysis\n...,Gurgaon/Gurugram
14,Assistant Manager - Data Science,CitiusTech,Data Science\nNLP\nMachine Learning\nDeep Lear...,"Mumbai, Pune, Bangalore/Bengaluru"
15,Looking For Marketing Analytics / Campaign Ana...,Evalueserve,machine learning\nab tesing\nAttribution Model...,Bangalore/Bengaluru
16,Looking For Group Manager-Data Science(CPG) Fo...,Evalueserve,python\ndata science\nmachine learning\nBayesi...,Bangalore/Bengaluru
17,Looking For Group Manager-Data Science( Retail...,Evalueserve,python\ndata science\niri\nCART/CHAID\ndata an...,Bangalore/Bengaluru
18,Looking For Campaign Analytics (Data Science) ...,Evalueserve,Campaign Designing\nMedia Mix Modelling\nmachi...,Bangalore/Bengaluru

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [175]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [176]:
fulldata=[]
data=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in data:
    fulldata.append(i.text)

In [178]:
len(fulldata)

500

In [179]:
rnk=fulldata[0:500:5]

In [181]:
bk=fulldata[1:500:5]

In [183]:
an=fulldata[2:500:5]

In [185]:
vol=fulldata[3:500:5]

In [186]:
publisher=fulldata[4:500:5]

In [187]:
len(rnk),len(an),len(vol),len(publisher)

(100, 100, 100, 100)

In [190]:
gen=[]
fr=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in fr:
    gen.append(i.text)

In [192]:
len(gen)

100

In [194]:
DATA8=pd.DataFrame({'RANK':rnk,'BOOK':bk,'AUTHOR':an,'VOLUME':vol,'PUBLISHER':publisher,'GENRE':gen})

In [195]:
DATA8

,RANK,BOOK,AUTHOR,VOLUME,PUBLISHER,GENRE
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [45]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [46]:
runtime=[]
rt=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in rt:
    runtime.append(i.text)

In [54]:
name=[]
nm=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in nm:
    name.append(i.text)

In [56]:
genre=[]
gn=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in gn:
    genre.append(i.text)

In [58]:
rtime=[]
rtm=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in rtm:
    rtime.append(i.text)

In [59]:
ratingss=[]
rtg=driver.find_elements(By.XPATH,'//span[@class="ipl-rating-star__rating"]')
for i in rtg:
    ratingss.append(i.text)

In [60]:
votes=[]
vt=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vt:
    votes.append(i.text)

In [69]:
ratingsss=ratingss[0:2300:23]

In [70]:
len(votes),len(ratingsss),len(runtime),len(rtime),len(genre),len(name)

(100, 100, 100, 100, 100, 100)

In [72]:
DATA9=pd.DataFrame({'NAME':name,'YEAR_SPAN':runtime,'GENRE':genre,'RUNTIME':rtime,'RATINGS':ratingsss,'VOTES':votes})

In [73]:
DATA9

,NAME,YEAR_SPAN,GENRE,RUNTIME,RATINGS,VOTES
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,047,390"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,143,847"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"967,725"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,702"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,275"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"49,533"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,542"
97,98. Criminal Minds (2005–2020),(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,705"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,011"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"236,232"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [74]:
driver.get('https://archive.ics.uci.edu/')

In [75]:
linkk=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
driver.get(linkk.get_attribute('href'))

In [76]:
names=[]
me=driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in me:
    names.append(i.text)

In [78]:
names.pop(0)

'Classification (466)\nRegression (151)\nClustering (121)\nOther (56)'

In [79]:
names.pop(0)

'Categorical (38)\nNumerical (422)\nMixed (55)'

In [80]:
names.pop(0)

'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)'

In [81]:
names.pop(0)

'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)'

In [82]:
names.pop(0)

'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)'

In [83]:
names.pop(0)

'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)'

In [85]:
names.pop(0)

'Matrix (439)\nNon-Matrix (183)'

In [86]:
names.pop(0)

'Table View  List View'

In [88]:
len(names)

4356

In [123]:
name=names[0:4356:7]

In [124]:
datatype=names[1:4356:7]

In [117]:
task=names[2:4357:7]

In [118]:
attribute=names[3:4357:7]

In [119]:
instance=names[4:4357:7]

In [120]:
noattribute=names[5:4357:7]

In [121]:
year=names[6:4357:7]

In [132]:
len(name),len(datatype),len(task),len(attribute),len(instance),len(noattribute),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [133]:
DATA10=pd.DataFrame({'NAME':name,'DATA_TYPE':datatype,'ATTRIBUTE':attribute,'NO_OF_INSTANCE':instance,'NO_OF_ATTRIBUTE':noattribute,'YEAR':year})

In [134]:
DATA10

,NAME,DATA_TYPE,ATTRIBUTE,NO_OF_INSTANCE,NO_OF_ATTRIBUTE,YEAR
0,Abalone,Multivariate,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...
617,Turkish Music Emotion Dataset,Multivariate,"Integer, Real",75840,525,2020
618,Maternal Health Risk Data Set,,"Integer, Real",400,50,2020
619,Room Occupancy Estimation,"Multivariate, Time-Series",,1014,7,2020
620,Image Recognition Task Execution Times in Mobi...,Univariate,Real,10129,16,2021
621,Supported By:,In Collaboration With:,Real,4000,2,2021