# WEBSCRAPPING ASSIGNMENT 3

In [344]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [345]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, NoSuchWindowException,ElementNotInteractableException,InvalidArgumentException
from selenium.webdriver.common.by import By
import time

In [744]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe")

Q1.Write a python program which searches all the product under a particular product from www.amazon.in. 
The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search 
for guitars.

In [747]:
driver.get("https://www.amazon.in")
search=driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')
search.send_keys(input('Enter your search-'))
submit=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
submit.click()

Enter your search-WATCH

2. In the above question, now scrape the following details of each product listed in first 3 pages of your 
search results and save it in a data frame and csv. In case if any product has less than 3 pages in search 
results then scrape all the products available under that product name. Details to be scraped are: "Brand 
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [783]:
watch=[]
gt=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base"]')
for i in gt:
    watch.append(i.text)

In [778]:
desc=[]
fe=driver.find_elements(By.XPATH,'//span[@class="a-size-base-plus a-color-base a-text-normal"]')
for i in fe:
    desc.append(i.text)

In [769]:
prc=[]
vfd=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in vfd:
    prc.append(i.text)

In [793]:
expdel=[]
try:
    rde=driver.find_elements(By.XPATH,'//span[@class="a-color-base a-text-bold"]')
    for i in rde:
        expdel.append(i.text)
except NoSuchElementException:
    expdel.append('-')

In [754]:
linkk=[]
deff=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in deff:
    linkk.append(i.get_attribute('href'))

In [799]:
len(watch)

68

In [800]:
DATA=pd.DataFrame({'BRAND':watch,'DESC':desc,'PRICE':prc,'EXPECTED_DELIVERY':expdel,'LINK':linkk})

In [801]:
DATA

,BRAND,DESC,PRICE,EXPECTED_DELIVERY,LINK
0,ASGARD,Multi Functional Sports Digital Multicolor Dia...,"1,799","Sunday, September 4",https://www.amazon.in/gp/slredirect/picassoRed...
1,ASGARD,Multi Functional Sports Digital Dial Men's Watch,"2,999","Monday, September 5",https://www.amazon.in/gp/slredirect/picassoRed...
2,Sylvi,Multi-Functional Boys Casual Business Mens Lux...,"4,999","Tuesday, September 6",https://www.amazon.in/gp/slredirect/picassoRed...
3,Skagen,Analog Blue Dial Men's Watch-SKW6535,299,"Thursday, September 8",https://www.amazon.in/gp/slredirect/picassoRed...
4,boAt,"boAt Wave Lite Smartwatch with 1.69"" HD Displa...",349,"Sunday, September 4",https://www.amazon.in/boAt-Wave-Lite-Smartwatc...
...,...,...,...,...,...
63,Sounce,Sounce 3 Pack 20mm Watch Straps Compatible for...,299,"Wednesday, September 7",https://www.amazon.in/Sounce-Compatible-Amazfi...
64,jainx,Day and Date Feature Black Mesh Band Analogue ...,293,-,https://www.amazon.in/gp/slredirect/picassoRed...
65,Doublerun,DD4_8027 Men's 3D Glass Date Display White Dia...,379,-,https://www.amazon.in/gp/slredirect/picassoRed...
66,Doublerun,DD4_8017 3D Glass Date Display White Dial Anal...,379,"Wednesday, September 7",https://www.amazon.in/gp/slredirect/picassoRed...
67,SWADESI STUFF,Black Color Dial Round Shap Elegant Analog Cou...,399,"Tuesday, September 6",https://www.amazon.in/gp/slredirect/picassoRed...

In [802]:
DATA.to_csv('Q2.csv')

 Q3.Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

FRUITS

In [347]:
driver.get('https://www.google.com/')

In [348]:
yu=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
yu.send_keys('FRUITS')

In [349]:
sear=driver.find_element(By.XPATH,'//input[@class="gNO89b"]')
sear.click()

In [350]:
img=driver.find_element(By.XPATH,'//a[@data-hveid="CAEQAw"]')
driver.get(img.get_attribute('href'))

In [362]:
dataset1=[]
tf=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
for i in tf[0:10]:
    dataset1.append(i.get_attribute('src'))

In [365]:
len(dataset1)

10

CARS

In [352]:
driver.get('https://www.google.com/')

In [353]:
yu=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
yu.send_keys('CARS')

In [354]:
sear=driver.find_element(By.XPATH,'//input[@class="gNO89b"]')
sear.click()

In [357]:
try:
    img=driver.find_element(By.XPATH,'//a[@data-hveid="CAIQAw"]')
    driver.get(img.get_attribute('href'))
except NoSuchElementException as d:
    print(d)
    img=driver.find_element(By.XPATH,'//a[@data-hveid="CAIQAw"]')
    driver.get(img.get_attribute('href'))

In [360]:
dataset2=[]
ki=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
for i in ki[0:10]:
    dataset2.append(i.get_attribute('src'))

In [364]:
len(dataset2)

10

MACHINE LEARNING

In [375]:
driver.get('https://www.google.com/')

In [376]:
yuu=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
yuu.send_keys('MACHINE LEARNING')

In [377]:
searr=driver.find_element(By.XPATH,'//input[@class="gNO89b"]')
searr.click()

In [379]:
try:
    imgg=driver.find_element(By.XPATH,'//a[@data-hveid="CAEQBA"]')
    driver.get(imgg.get_attribute('href'))
except NoSuchElementException as hy:
    print(hy)
    imgg=driver.find_element(By.XPATH,'//a[@data-hveid="CAEQBA"]')
    driver.get(imgg.get_attribute('href'))

In [380]:
dataset3=[]

vf=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
for i in vf[0:10]:
    dataset3.append(i.get_attribute('src'))

In [381]:
len(dataset3)

10

GUITARS

In [391]:
driver.get('https://www.google.com/')

In [392]:
yyuu=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
yyuu.send_keys('GUITARS')

In [393]:
searr=driver.find_element(By.XPATH,'//input[@class="gNO89b"]')
searr.click()

In [394]:
try:
    gt=driver.find_element(By.XPATH,'//a[@data-hveid="CAIQBA"]')
    driver.get(gt.get_attribute('href'))
except NoSuchElementException as hhy:
    print(hhy)
    gt=driver.find_element(By.XPATH,'//a[@data-hveid="CAIQBA"]')
    driver.get(gt.get_attribute('href'))

In [395]:
dataset4=[]

re=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
for i in re[0:10]:
    dataset4.append(i.get_attribute('src'))

In [396]:
len(dataset4)

10

CAKES

In [397]:
driver.get('https://www.google.com/')

In [398]:
Ou=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
Ou.send_keys('CAKES')

In [399]:
arr=driver.find_element(By.XPATH,'//input[@class="gNO89b"]')
arr.click()

In [400]:
try:
    tv=driver.find_element(By.XPATH,'//a[@data-hveid="CAIQAw"]')
    driver.get(tv.get_attribute('href'))
except NoSuchElementException as py:
    print(py)
    tv=driver.find_element(By.XPATH,'//a[@data-hveid="CAIQAw"]')
    driver.get(tv.get_attribute('href'))

In [404]:
dataset5=[]

bh=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')
for i in bh[0:10]:
    dataset5.append(i.get_attribute('src'))

In [405]:
len(dataset5)

10

In [410]:
LINKS=pd.DataFrame({'FRUITS':dataset1,'CARS':dataset2,'MACHINE_LEARNING':dataset3,'GUITARS':dataset4,'CAKES':dataset5})

In [411]:
LINKS

,FRUITS,CARS,MACHINE_LEARNING,GUITARS,CAKES
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [412]:
LINKS.to_csv('googlelinks.csv')

Q4.Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be 
scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, 
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the 
details is missing then replace it by “- “. Save your results in a dataframe and CSV

In [713]:
driver.get('https://www.flipkart.com/')

In [714]:
srch=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
srch.send_keys('OnePlus Nord')

In [584]:
try:
    srchbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
    srchbtn.click()
except NoSuchElementException as gt:
    print(gt)
    srchbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
    srchbtn.click()

In [605]:
MOB=[]

fd=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in fd:
    MOB.append(i.text)

In [739]:
PRICE=[]

df=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in df:
    PRICE.append(i.text)

In [592]:
MOBNAME=[]

fdd=driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in fdd:
    MOBNAME.append(i.text.split()[0])

In [734]:
URL=[]

fdr=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in fdr:
    URL.append(i.get_attribute('href'))

In [730]:
finaldata=[]
rf=driver.find_elements(By.XPATH,'//div[@class="col col-7-12"]')
for i in rf:
    finaldata.append(i.text.replace(('\n'),('')))

In [740]:
len(PRICE)

24

In [741]:
MOBILEDATA=pd.DataFrame({'BRAND':MOB,'MODEL_NAME':MOBNAME,'PRICES':PRICE,'FEATURES':finaldata,'URL':URL})

In [742]:
MOBILEDATA

,BRAND,MODEL_NAME,PRICES,FEATURES,URL
0,"OnePlus Nord 2T 5G (Gray Shadow, 256 GB)",OnePlus,"₹19,995","OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)4...",https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",OnePlus,"₹21,990","OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)...",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",OnePlus,"₹33,659","OnePlus Nord 2T 5G (Gray Shadow, 256 GB)4.5262...",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
3,"OnePlus Nord 2T 5G (Jade Fog, 256 GB)",OnePlus,"₹19,605","OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)...",https://www.flipkart.com/oneplus-nord-ce-2-lit...
4,"OnePlus Nord 2 5G (PAC-MAN, 256 GB)",OnePlus,"₹19,631","OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)4...",https://www.flipkart.com/oneplus-nord-ce-2-lit...
5,"OnePlus Nord 2T 5G (Gray Shadow, 256 GB)",OnePlus,"₹21,999","OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)4...",https://www.flipkart.com/oneplus-nord-ce-2-lit...
6,"OnePlus Nord 2T 5G (Jade Fog, 256 GB)",OnePlus,"₹19,589","OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)...",https://www.flipkart.com/oneplus-nord-ce-2-lit...
7,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",OnePlus,"₹28,998","OnePlus Nord 2T 5G (Jade Fog, 128 GB)4.41,323 ...",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
8,"OnePlus Nord 2T 5G (Jade Fog, 128 GB)",OnePlus,"₹33,990","OnePlus Nord 2T 5G (Jade Fog, 256 GB)4.5262 Ra...",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
9,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",OnePlus,"₹24,999","OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)4.41...",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
10,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB)",OnePlus,"₹33,950","OnePlus Nord 2T 5G (Gray Shadow, 256 GB)4.5262...",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
11,"OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)",OnePlus,"₹33,857","OnePlus Nord 2T 5G (Jade Fog, 256 GB)4.5262 Ra...",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
12,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",OnePlus,"₹28,999","OnePlus Nord 2T 5G (Jade Fog, 128 GB)4.41,323 ...",https://www.flipkart.com/oneplus-nord-2t-5g-ja...
13,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",OnePlus,"₹28,835","OnePlus Nord 2T 5G (Gray Shadow, 128 GB)4.41,3...",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
14,"OnePlus Nord 2T 5G (Jade Fog, 128 GB)",OnePlus,"₹37,200","OnePlus Nord 2 5G (PAC-MAN, 256 GB)4.4126 Rati...",https://www.flipkart.com/oneplus-nord-2-5g-pac...
15,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)",OnePlus,"₹28,694","OnePlus Nord 2T 5G (Gray Shadow, 128 GB)4.41,3...",https://www.flipkart.com/oneplus-nord-2t-5g-gr...
16,"OnePlus Nord (Gray Onyx, 256 GB)",OnePlus,"₹15,990","vivo T1 5G (Rainbow Fantasy, 128 GB)4.336,251 ...",https://www.flipkart.com/vivo-t1-5g-rainbow-fa...
17,"OnePlus Nord (Gray Onyx, 64 GB)",OnePlus,"₹16,990","vivo T1 5G (Rainbow Fantasy, 128 GB)4.387,767 ...",https://www.flipkart.com/vivo-t1-5g-rainbow-fa...
18,"OnePlus Nord (Blue Marble, 256 GB)",OnePlus,"₹14,990","OPPO K10 (Black Carbon, 128 GB)4.449,006 Ratin...",https://www.flipkart.com/oppo-k10-black-carbon...
19,"OnePlus Nord (Gray Onyx, 128 GB)",OnePlus,"₹11,999","vivo T1X (Space Blue, 64 GB)4.511,301 Ratings ...",https://www.flipkart.com/vivo-t1x-space-blue-6...
20,"OnePlus Nord (Blue Marble, 128 GB)",OnePlus,"₹11,999","vivo T1X (Gravity Black, 64 GB)4.511,301 Ratin...",https://www.flipkart.com/vivo-t1x-gravity-blac...
21,"OnePlus Nord (Blue Marble, 64 GB)",OnePlus,"₹14,990","OPPO K10 (Blue Flame, 128 GB)4.449,006 Ratings...",https://www.flipkart.com/oppo-k10-blue-flame-1...
22,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)",OnePlus,"₹17,499","OPPO K10 5G (Midnight Black, 128 GB)4.514,376 ...",https://www.flipkart.com/oppo-k10-5g-midnight-...
23,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)",OnePlus,"₹17,499","OPPO K10 5G (Ocean Blue, 128 GB)4.514,376 Rati...",https://www.flipkart.com/oppo-k10-5g-ocean-blu...

In [743]:
MOBILEDATA.to_csv('MOBILEDATA.csv')

Q5.Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google
maps.

In [455]:
driver.get('https://www.google.com/')

In [456]:
try:
    di=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
    di.send_keys(input('enter the city')+'LATITUDE & LONGITUDE')
except NoSuchElementException as brd:
    print(brd)
    di=driver.find_element(By.XPATH,'//input[@class="gLFyf gsfi"]')
    di.send_keys(input('enter the city')+ 'LATITUDE & LONGITUDE')

enter the cityBOMBAY

In [457]:
buttonn=driver.find_element(By.XPATH,'//input[@class="gNO89b"]')
buttonn.click()

In [458]:
frd=driver.find_element(By.XPATH,'//div[@class="Z0LcW t2b5Cf"]')
print(frd.text)

19.0760° N, 72.8777° E

Q6.Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) 
from trak.in.

In [18]:
driver.get('https://trak.in/')
et=driver.find_element(By.XPATH,'//a[@title="https://trak.in/india-startup-funding-investment-2015/"]')
driver.get(et.get_attribute('href'))

In [22]:
sr=[]
q=driver.find_elements(By.XPATH,'//td[@class="column-1"]')
for i in q[5:29]:
    sr.append(i.text)

In [24]:
dt=[]
w=driver.find_elements(By.XPATH,'//td[@class="column-2"]')
for i in w[5:29]:
    dt.append(i.text)

In [26]:
nm=[]
e=driver.find_elements(By.XPATH,'//td[@class="column-3"]')
for i in e[5:29]:
    nm.append(i.text)

In [28]:
ind=[]
r=driver.find_elements(By.XPATH,'//td[@class="column-4"]')
for i in r[5:29]:
    ind.append(i.text)

In [29]:
ver=[]
t=driver.find_elements(By.XPATH,'//td[@class="column-5"]')
for i in t[5:29]:
    ver.append(i.text)

In [30]:
loc=[]
y=driver.find_elements(By.XPATH,'//td[@class="column-6"]')
for i in y[5:29]:
    loc.append(i.text)

In [31]:
iname=[]
u=driver.find_elements(By.XPATH,'//td[@class="column-7"]')
for i in u[5:29]:
    iname.append(i.text)

In [32]:
itype=[]
ii=driver.find_elements(By.XPATH,'//td[@class="column-8"]')
for i in ii[5:29]:
    itype.append(i.text)

In [33]:
amount=[]
o=driver.find_elements(By.XPATH,'//td[@class="column-9"]')
for i in o[5:29]:
    amount.append(i.text)

In [34]:
print(len(amount),len(itype),len(iname),len(loc),len(ver),len(ind),len(nm),len(dt),len(sr))

24 24 24 24 24 24 24 24 24

In [35]:
dataset=pd.DataFrame({'SERIAL':sr,'DATE':dt,'STARTUP_NAME':nm,'INDUSTRY':ind,'VERTICAL':ver,'LOCATION':loc,'INV_NAME':iname,'INV_TYPE':itype,"AMOUNT":amount})

In [36]:
dataset

,SERIAL,DATE,STARTUP_NAME,INDUSTRY,VERTICAL,LOCATION,INV_NAME,INV_TYPE,AMOUNT
0,1,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
1,2,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
2,3,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
3,4,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
4,5,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
5,6,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
6,7,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"
7,1,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
8,2,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
9,3,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
10,4,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
11,5,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
12,6,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
13,7,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
14,8,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
15,9,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"
16,1,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
17,2,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
18,3,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
19,4,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
20,5,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
21,6,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
22,7,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
23,8,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"

Q7.Write a program to scrap all the available details of best gaming laptops from digit.in.

In [465]:
driver.get('https://www.digit.in/')

In [471]:
try:
    qq=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/div[3]/ul/li[3]/a')
    driver.get(qq.get_attribute('href'))
except NoSuchElementException as u:
    print(u)
    qq=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/div[3]/ul/li[3]/a')
    driver.get(qq.get_attribute('href'))

In [472]:
tfh=driver.find_element(By.XPATH,'/html/body/div[6]/div/div[2]/div[2]/ul/li[10]/a')
driver.get(tfh.get_attribute('href'))

In [483]:
name1=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[1]/td[1]')
name1=name1.text
name2=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[2]/td[1]')
name2=name2.text
name3=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[3]/td[1]')
name3=name3.text
name4=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[4]/td[1]')
name4=name4.text
name5=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[5]/td[1]')
name5=name5.text
name6=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[6]/td[1]')
name6=name6.text
name7=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[7]/td[1]')
name7=name7.text
name8=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[8]/td[1]')
name8=name8.text
name9=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[9]/td[1]')
name9=name9.text
name10=driver.find_element(By.XPATH,'/html/body/div[5]/div[1]/div[3]/table/tbody/tr[10]/td[1]')
name10=name10.text

In [484]:
namesfinal=[name1,name2,name3,name4,name5,name6,name7,name8,name9,name10]

In [475]:
prices=[]
rf=driver.find_elements(By.XPATH,'//td[@class="smprice"]')
for i in rf:
    prices.append(i.text)

In [476]:
seller=[]
gg=driver.find_elements(By.XPATH,'//td[@class="smmerchant"]')
for i in gg:
    seller.append(i.text)

In [487]:
GAMING_LAPTOP=pd.DataFrame({'MODEL':namesfinal,'SELLER':seller,'PRICES':prices})

In [488]:
GAMING_LAPTOP

                                           MODEL  SELLER     PRICES
0                           MSI Titan GT77-12UHS     N/A        N/A
1                               Alienware x17 R2    Dell  ₹ 389,990
2          Acer Predator Triton 500 SE PT516-52s     N/A  ₹ 300,000
3                        Omen by HP (16-B1371TX)  Amazon  ₹ 194,000
4  Acer Predator Helios 300 AN515-45 (NH.QBRSI.0     N/A  ₹ 172,999
5                     MSI Delta 15 (A5EFK-083IN)     N/A  ₹ 188,990
6                        Omen by HP (16-c0141AX)  Amazon  ₹ 129,899
7              Lenovo Legion 5i Pro (82RF00MGIN)     N/A  ₹ 230,890
8  Alienware m15 R5 Ryzen Edition icc-c780001win    Dell  ₹ 144,990
9               Lenovo Slim 7 Gen 6 (82K8002JIN)   Croma  ₹ 131,990

In [489]:
GAMING_LAPTOP.to_csv('GAMING_LAPTOP.csv')

Q8.Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be 
scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”

In [122]:
try:
    driver.get('https://www.forbes.com/?sh=2c3120982254')
    gh=driver.find_element(By.XPATH,'//div[@class="_8FT-x3t4"]')
    gh.click()
except NoSuchElementException as y:
    print(y)
    driver.get('https://www.forbes.com/?sh=2c3120982254')
    gh=driver.find_element(By.XPATH,'//div[@class="_8FT-x3t4"]')
    gh.click()

In [124]:
gy=driver.find_element(By.XPATH,'//a[@tabindex="0"]')
driver.get(gy.get_attribute('href'))

In [125]:
SNO=[]
sn=driver.find_elements(By.XPATH,'//div[@class="rank"]')
for i in sn:
    SNO.append(i.text)

In [126]:
NAME=[]
nm=driver.find_elements(By.XPATH,'//div[@class="personName"]')
for i in nm:
    NAME.append(i.text)

In [127]:
NW=[]
nw=driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
for i in nw:
    NW.append(i.text)

In [128]:
AGE=[]
age=driver.find_elements(By.XPATH,'//div[@class="age"]')
for i in age:
    AGE.append(i.text)

In [129]:
CN=[]
cn=driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
for i in cn:
    CN.append(i.text)

In [130]:
SRC=[]
src=driver.find_elements(By.XPATH,'//div[@class="source"]')
for i in src:
    SRC.append(i.text)

In [131]:
INDS=[]
inds=driver.find_elements(By.XPATH,'//div[@class="category"]')
for i in inds:
    INDS.append(i.text)

In [132]:
print(len(SNO),len(NAME),len(AGE),len(NW),len(CN),len(SRC),len(INDS))

200 200 200 200 200 200 200

In [134]:
BILLIONAIRES=pd.DataFrame({'SERIAL_NO':SNO,'NAME':NAME,'AGE':AGE,'NET_WORTH':NW,'COUNTRY':CN,'SOURCE':SRC,'INDUSTRY':INDS})

In [135]:
BILLIONAIRES

,SERIAL_NO,NAME,AGE,NET_WORTH,COUNTRY,SOURCE,INDUSTRY
0,1.,Elon Musk,50,$219 B,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,58,$171 B,United States,Amazon,Technology
2,3.,Bernard Arnault & family,73,$158 B,France,LVMH,Fashion & Retail
3,4.,Bill Gates,66,$129 B,United States,Microsoft,Technology
4,5.,Warren Buffett,91,$118 B,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,72,,Brazil,beer,Food & Beverage
196,197.,Leon Black,70,,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,40,,United States,Airbnb,Technology
198,197.,David Geffen,79,,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,56,,China,semiconductors,Manufacturing

In [136]:
BILLIONAIRES.to_csv('BILLIONAIRES.csv')

Q9.Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted 
from any YouTube Video

In [163]:
driver.get('https://www.youtube.com/')

In [165]:
try:
    sea=driver.find_element(By.XPATH,'//input[@id="search"]')
    sea.send_keys('PASOORI')
except NoSuchElementException as y:
    print(y)
    buttons=driver.find_element(By.XPATH,'//button[@id="search-icon-legacy"]')
    buttons.click()
    time.sleep(3)

In [166]:
de=driver.find_element(By.XPATH,'//a[@id="video-title"]')
driver.get(de.get_attribute('href'))

In [167]:
comments=[]
rt=driver.find_elements(By.XPATH,'//yt-formatted-string[@id="content-text"]')
for i in rt[0:500]:
    comments.append(i.text)

In [178]:
time=[]
tr=driver.find_elements(By.XPATH,'//a[@class="yt-simple-endpoint style-scope yt-formatted-string"]')
for i in tr[0:518]:
    time.append(i.text)

In [170]:
count=[]
yh=driver.find_elements(By.XPATH,'//span[@id="vote-count-middle"]')
for i in yh[0:500]:
    count.append(i.text)

In [185]:
print(len(comments),len(times),len(count))

500 500 500

In [184]:
times=time[18:518]

In [186]:
YOUTUBE=pd.DataFrame({'COMMENTS':comments,'TIME':times,'VOTE':count})

In [187]:
YOUTUBE

,COMMENTS,TIME,VOTE
0,This is called magic of music,4 months ago,66K
1,It's a growing like fire in india but many peo...,21 hours ago,67
2,This song plays for me in loops. I am in love ...,1 day ago (edited),151
3,This shows the power of song how it erases al...,2 days ago,106
4,I respect to everyone who were involved in thi...,4 hours ago,7
...,...,...,...
495,This song stole my heart lots of love to Paki...,6 hours ago,274
496,I love️️️️this song,3 days ago,
497,Most favorite song,3 months ago,14
498,Nice to listen,6 months ago,
499,I love this song love from Pakistan 🇵🇰🇵🇰🇵🇰🇵🇰,5 months ago (edited),3

In [273]:
YOUTUBE.to_csv('youtubedata.csv')

Q10.Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in 
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, 
overall reviews, privates from price, dorms from price, facilities and property description

In [803]:
driver.get('https://www.hostelworld.com/')

In [300]:
try:
    pl=driver.find_element(By.XPATH,'//input[@id="search-input-field"]')
    pl.send_keys("LONDON")
except NoSuchElementException as r:
    print(r)
    pl=driver.find_element(By.XPATH,'//input[@id="search-input-field"]')
    pl.send_keys("LONDON")

In [301]:
fr=driver.find_element(By.XPATH,'//div[@class="label"]')
fr.click()

In [305]:
try:
    btn=driver.find_element(By.XPATH,'//button[@id="search-button"]')
    btn.click()
except NoSuchElementException as y:
    print(y)    
    btn=driver.find_element(By.XPATH,'//button[id="search-button"]')
    btn.click()
    time.sleep(5)

In [806]:
hostel=[]
h=driver.find_elements(By.XPATH,'//h2[@data-v-def0277e]')
for i in h:
    hostel.append(i.text)

In [808]:
dist=[]
f=driver.find_elements(By.XPATH,'//span[@class="description"]')
for i in f:
    dist.append(i.text)

In [854]:
rat=[]
ff=driver.find_elements(By.XPATH,'//div[@class="score orange big"]')
for i in ff:
    rat.append(i.text)

In [816]:
privates=[]
pl=driver.find_elements(By.XPATH,'//div[@class="keyword"]')
for i in pl:
    ratings.append(i.text)

In [821]:
pricedm=[]
kl=driver.find_elements(By.XPATH,'//div[@class="price-col"]')
for i in kl:
    pricedm.append(i.text.replace(('\n'),('')))

In [823]:
len(pricedm)

60

In [826]:
privates=pricedm[0:60:2]

In [828]:
dorms=pricedm[1:60:2]

In [832]:
reviews=[]
dc=driver.find_elements(By.XPATH,'//div[@class="reviews"]')
for i in dc:
    reviews.append(i.text)

In [840]:
ds=[]
ss=driver.find_elements(By.XPATH,'//div[@class="rating-factors prop-card-tablet rating-factors small"]')
for i in ss:
    ds.append(i.text.replace(('\n'),('')))

In [847]:
sw=[]
asw=driver.find_elements(By.XPATH,'//div[@class="facilities-label facilities"]')
for i in asw:
    sw.append(i.text.replace(('\n'),('')))

In [863]:
len(reviews)

30

In [864]:
HOSTEL_LIST=pd.DataFrame({'NAME':hostel,'DISTANCE_CC':dist,'RAT':rat,'OVERALL':ratings,'REVIEWS':reviews,'PRIVATE_PRICE':privates,'DORM_PRICES':dorms,'PROPERTIES':ds,'FACILITIES':sw})

In [865]:
HOSTEL_LIST

,NAME,DISTANCE_CC,RAT,OVERALL,REVIEWS,PRIVATE_PRICE,DORM_PRICES,PROPERTIES,FACILITIES
0,Selina Camden,Hostel - 5.5km from city centre,8.6,Fabulous,36 Total Reviews,Privates FromRs19743,Dorms FromRs7366.82 Rs6262,Perfect LocationSuperb StaffFantastic Cleanliness,Free WiFi
1,St Christopher's Village,Hostel - 1.8km from city centre,8.2,Fabulous,11479 Total Reviews,No Privates Available,Dorms FromRs1897.98 Rs1708,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
2,Palmers Lodge - Swiss Cottage,Hostel - 6.5km from city centre,8.7,Fabulous,15565 Total Reviews,No Privates Available,Dorms FromRs2461,Perfect LocationSuperb StaffFantastic Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
3,Wombat's City Hostel London,Hostel - 3.6km from city centre,9.0,Fabulous,14009 Total Reviews,Privates FromRs14311.31 Rs11878,Dorms FromRs3758.72 Rs2819,Perfect LocationSuperb StaffFantastic Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
4,Generator London,Hostel - 3km from city centre,7.8,Fabulous,7138 Total Reviews,Privates FromRs7937,Dorms FromRs2337,Perfect LocationMarvellous StaffExcellent Clea...,Free WiFiFollows Covid-19 sanitation guidance
5,Urbany Hostel London,Hostel - 5.4km from city centre,9.3,Fabulous,453 Total Reviews,Privates FromRs12125,Dorms FromRs2569,Perfect LocationSuperb StaffFantastic Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
6,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,7.0,Very Good,4474 Total Reviews,Privates FromRs16575,Dorms FromRs1658,Wonderful LocationBrilliant StaffAwesome Clean...,Free WiFiFollows Covid-19 sanitation guidance
7,Smart Camden Inn Hostel,Hostel - 4.4km from city centre,8.4,Very Good,2920 Total Reviews,Privates FromRs10940,Dorms FromRs1635,Perfect LocationSuperb StaffFantastic Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
8,No.8 Willesden Hostel London,Hostel - 10km from city centre,6.6,Fabulous,4831 Total Reviews,No Privates Available,Dorms FromRs1331,Great LocationMarvellous StaffAwesome Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
9,Smart Russell Square Hostel,Hostel - 2.6km from city centre,7.1,Very Good,9747 Total Reviews,No Privates Available,Dorms FromRs1817,Perfect LocationMarvellous StaffAwesome Cleanl...,Free WiFiFollows Covid-19 sanitation guidance
10,No.8 Seven Sisters,Hostel - 9km from city centre,-,Rating,3847 Total Reviews,No Privates Available,Dorms FromRs1162,Great LocationMarvellous Staff,Free WiFiFollows Covid-19 sanitation guidance
11,London Backpackers,Hostel - 11.9km from city centre,8.2,Fabulous,4320 Total Reviews,No Privates Available,Dorms FromRs1685,Wonderful LocationSuperb StaffExcellent Cleanl...,Free WiFiFollows Covid-19 sanitation guidance
12,Safestay London Kensington Holland Park,Hostel - 5.9km from city centre,6.5,Good,1304 Total Reviews,No Privates Available,Dorms FromRs1740,Wonderful LocationBrilliant Staff,Free WiFi
13,Prime Backpackers Angel,Hostel - 3.6km from city centre,8.4,Fabulous,639 Total Reviews,No Privates Available,Dorms FromRs2346,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
14,St Christopher's Inn - London Bridge,Hostel - 1.8km from city centre,8.4,Fabulous,3350 Total Reviews,No Privates Available,Dorms FromRs2000.3 Rs1800,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
15,Phoenix Hostel,Hostel - 4.2km from city centre,7.4,Very Good,3741 Total Reviews,No Privates Available,Dorms FromRs2056.57 Rs1954,Perfect LocationSuperb StaffAwesome Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
16,Smart Hyde Park View Hostel,Hostel - 5km from city centre,8.1,Fabulous,4594 Total Reviews,Privates FromRs10901,Dorms FromRs1756,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
17,Queen Elizabeth Chelsea,Hostel - 5.7km from city centre,6.6,Good,3319 Total Reviews,No Privates Available,Dorms FromRs1596,Wonderful LocationMarvellous Staff,Free WiFi
18,Smart Hyde Park Inn Hostel,Hostel - 5km from city centre,7.0,Very Good,6351 Total Reviews,Privates FromRs12237.12 Rs11013,Dorms FromRs1786.46 Rs1608,Perfect LocationMarvellous StaffGood Cleanliness,Free WiFi
19,NX London Hostel,Hostel - 6.1km from city centre,7.4,Very Good,1217 Total Reviews,Privates FromRs7993.01 Rs6394,Dorms FromRs2245.35 Rs1796,Wonderful LocationMarvellous StaffAwesome Clea...,Free WiFiFree Breakfast
20,Hostel One Notting Hill,Hostel - 5.5km from city centre,9.3,Superb,1483 Total Reviews,Privates FromRs11796,Dorms FromRs2166,Perfect LocationSuperb StaffFantastic Cleanliness,Free WiFi
21,St Christopher's Hammersmith,Hostel - 7.5km from city centre,7.8,Very Good,4106 Total Reviews,No Privates Available,Dorms FromRs1543.97 Rs1390,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
22,Strand Continental,Hostel - 1.3km from city centre,6.9,Good,893 Total Reviews,No Privates Available,Dorms FromRs2735,Perfect LocationMarvellous StaffGood Cleanliness,Follows Covid-19 sanitation guidance
23,St Christopher's Camden,Hostel - 4.3km from city centre,8.3,Fabulous,3832 Total Reviews,No Privates Available,Dorms FromRs2225.4 Rs2003,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
24,St Christopher's Oasis-Female Only,Hostel - 1.8km from city centre,8.2,Fabulous,682 Total Reviews,No Privates Available,Dorms FromRs2442.99 Rs2199,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
25,London Waterloo Hostel,Hostel - 0.7km from city centre,6.2,Good,2510 Total Reviews,Privates FromRs10774,Dorms FromRs2022,Wonderful LocationMarvellous Staff,Free WiFiFollows Covid-19 sanitation guidance
26,"PubLove @ The White Ferry, Victoria",Hostel - 2.4km from city centre,8.0,Fabulous,286 Total Reviews,No Privates Available,Dorms FromRs2578,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
27,Clink261,Hostel - 3.2km from city centre,7.7,Very Good,128 Total Reviews,No Privates Available,Dorms FromRs1983,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance
28,St Christopher's Greenwich,Hostel - 7.6km from city centre,7.0,Very Good,3239 Total Reviews,No Privates Available,Dorms FromRs1454.94 Rs1309,Wonderful LocationMarvellous StaffAwesome Clea...,Free WiFiFollows Covid-19 sanitation guidance
29,"PubLove @ The Steam Engine, Waterloo",Hostel - 0.5km from city centre,8.4,Fabulous,305 Total Reviews,No Privates Available,Dorms FromRs3530,Perfect LocationSuperb StaffExcellent Cleanliness,Free WiFiFollows Covid-19 sanitation guidance

In [866]:
HOSTEL_LIST.to_csv('HOSTELLIST.csv')